div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }"
	style="position: relative; overflow: hidden; min-height: 27cm")

	div(style="position: absolute; margin-bottom: 0; margin-left: -10px; border-bottom: none;" ng-show="$parent.config.imagen_fondo" ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical' } ")
		img.img-fondo-boletin(ng-src="{{ perfilPath + $parent.config.imagen_fondo.nombre }}"
			ng-repeat="cant in $parent.range(config.cant_imagenes) track by $index")

	.row
		.col-lg-12.col-xs-12
			.row.encabezado-boletin
				.col-lg-12.col-xs-12(style="padding: 0;")
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{perfilPath + year.logo}}")
						.col-lg-8.col-xs-8.title-encabezado-boletin(style="padding: 0;")
							.nombre-colegio
								| {{year.nombre_colegio + ' - ' + year.abrev_colegio}}
							.resolucion-colegio
								span(ng-bind-html="::year.encabezado_certificado" ng-if="::year.encabezado_certificado!=null && year.encabezado_certificado!='' ")
								span(ng-hide="::year.encabezado_certificado!=null && year.encabezado_certificado!=''") {{::year.resolucion}}
							.title-descripcion
								| Boletin FINAL {{USER.year}}
						.col-lg-2.col-xs-2(style="padding: 0;")
							img.img-responsive.foto-alumno(ng-src="{{perfilPath + alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")

					.row.descripcion-encabezado
						.col-lg-6.col-xs-6
							.grupo-alumno
								| Grupo:
								b.camel   {{grupo.nombre_grupo.toLowerCase()}}
							.titular-grupo(uib-popover-html="'<img src=\"{{perfilPath + grupo.foto_nombre}}\" style=\"width: 150px; height: 150px;\">'"
									popover-popup-delay="1000" popover-title="{{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor}}" popover-animation="true"
									popover-trigger="mouseenter" popover-append-to-body="true")
								| Titular:
								span.camel   {{grupo.nombres_profesor.toLowerCase() + ' ' + grupo.apellidos_profesor.toLowerCase()}}
						.col-lg-6.col-xs-6
							h5.nombre-alumno {{alumno.nombres + ' ' + alumno.apellidos}}
							.promedio-alumno Puntaje: {{alumno.promedio | setDecimal:1 }}% - Puesto: {{alumno.puesto}}/{{grupo.cantidad_alumnos}}

			.row.body-boletin(style="margin-top: 10px; margin-bottom: 10px; ")
				.col-lg-12.col-xs-12
					table.table-bordered.table-bordered2.table-striped.table-striped2(style="margin: 0 auto; width: 100%")
						tr(style="background-color: #99caed !important;")
							td.text-center
								b No
							td.text-center
								b Asignatura / Área
							td.text-center
								b IH
							td.text-center(style="width: 40px;")
								i.fa.fa-clock-o.icon-tardanza
								span A/T

						tr(ng-repeat="asignatura in ::alumno.asignaturas")
							td.text-center {{ asignatura.indice }}
							td

								span(style="font-weight: bold;"
									uib-popover-template="::views+'informes/infoDocentePop.tpl.html'"
									popover-popup-delay="500" popover-title="{{::asignatura.nombres_profesor}} {{::asignatura.apellidos_profesor}}" popover-animation="true"
									popover-trigger="'mouseenter'"  popover-append-to-body="true")
									| {{ ::asignatura.materia }}

								div(style="font-size: 9pt; margin: 0px; padding-left: 23px;")
									div(ng-repeat="frase in ::asignatura.frases")
										| {{::frase.definicion}}
										span.hidden-print
											button.btn.btn-danger.btn-xs(ng-click="eliminar_frase(frase)" uib-tooltip="Eliminar frase")
												i.fa.fa-times


							td.text-center(style="font-style: italic; font-size: 9pt;")  {{ ::asignatura.creditos }}
							td.text-center
								span.text-tardanza {{::asignatura.ausencias.cantidad_ausencia}} / {{::asignatura.tardanzas.cantidad_tardanzas}}



			.row.comportamiento-boletin
				.col-lg-12.col-xs-12

					span(dynamic="::alumno.encabezado_comportamiento")

					.row.comportamiento-body
						.col-lg-12.col-xs-12.comportamiento-frases
							//div(style="border-bottom: 1px solid #666; text-align: center; padding-bottom: 3px; margin-bottom: 3px;")
								.row
									.col-lg-3.col-xs-3
										b Llegadas tarde
										|   a la institución: {{ ::alumno.ausencias_total.cant_tardanzas_entrada }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   en la entrada: {{ ::alumno.ausencias_total.cant_ausencias_entrada }}.
									.col-lg-3.col-xs-3
										b Tardanzas
										|   a clases: {{ ::alumno.ausencias_total.cant_tardanzas_clases }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   a clases: {{ ::alumno.ausencias_total.cant_ausencias_clases }}





			.row
				.col-lg-12.col-xs-12
					h4(style="text-align:center; font-weight: bold")
						span(ng-switch on="alumno.sexo")
							span(ng-switch-when="F") La alumna
							span(ng-switch-default) El alumno

						span   ha sido

						span(ng-switch on="alumno.sexo")
							span(ng-switch-when="F")   promovida.
							span(ng-switch-default)   promovido.


				.col-lg-12.col-xs-12(style="text-align: center; margin-top: -10px;")
					div(style="border-bottom: 1px solid #000; height: 40px; width: 90%; display: inline-block; text-align: left;")
						| Observaciones:
					div(style="border-bottom: 1px solid #000; height: 40px; width: 90%; display: inline-block;")



			.row.footer-boletin
				.col-lg-12.col-xs-12
					.row
						.col-lg-6.col-xs-6.rector-firma
							img(ng-show="config.show_firma_rector" ng-src="{{perfilPath + year.rector_firma}}")

						.col-lg-6.col-xs-6.titular-firma(ng-show="$parent.tipo_boletin_final==1")
							img(ng-show="config.show_firma_titular" ng-src="{{perfilPath + grupo.firma_titular_nombre}}")

						.col-lg-6.col-xs-6.titular-firma(ng-show="$parent.tipo_boletin_final==2 || $parent.tipo_boletin_final==3")
							img(ng-show="config.show_firma_titular" ng-src="{{perfilPath + year.secre_firma}}")

					.row
						.col-lg-6.col-xs-6.nombre-rector-firma
							| {{year.nombres_rector}} {{year.apellidos_rector}}

						.col-lg-6.col-xs-6.nombre-titular-firma(ng-show="$parent.tipo_boletin_final==2 || $parent.tipo_boletin_final==3")
							| {{year.nombres_secretario}} {{year.apellidos_secretario}}

						.col-lg-6.col-xs-6.nombre-titular-firma(ng-show="$parent.tipo_boletin_final==1")
							| {{::grupo.nombres_profesor}} {{::grupo.apellidos_profesor}}

					.row
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='M'")
							| Rector
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='F'")
							| Rectora

						span(ng-show="$parent.tipo_boletin_final==2 || $parent.tipo_boletin_final==3")
							.col-lg-6.col-xs-6(ng-show="year.sexo_secretario=='M'")
								| Secretario
							.col-lg-6.col-xs-6(ng-show="year.sexo_secretario=='F'")
								| Secretaria

						.col-lg-6.col-xs-6(ng-show="$parent.tipo_boletin_final==1")
							| Titular


					.row
						.col-xs-1

						.col-xs-10
							div(style="border: 1px solid #888; padding: 4px; font-size: 8pt; margin-top: 20px;")
								div
									i.fa.fa-clock-o.icon-tardanza
									span(style="font-weight: bold; font-style: italic;") A:
									|  Ausencias.
									span(ng-show="$parent.year.si_recupera_materia_recup_indicador==0")   Los números en paréntesis son indicadores pendientes.
								div
									span(style="font-weight: bold; font-style: italic;") IH:
									|  Intensidad horaria semanal. {{ $parent.year.minu_hora_clase }} minutos de clase. 40 semanas escolares al año.
								div
									span(style="font-weight: bold; font-style: italic;") Valoración:
									|  Según la escala nacional. Calificativo adquirido, siendo {{USER.nota_minima_aceptada}} la nota mínima aprobatoria.
								div
									span(ng-repeat="escala in $parent.escalas_val" style="width: 150px; display: inline-block;")
										span(style="font-weight: bold; font-style: italic;") D. {{escala.desempenio}}:
										|  de {{escala.porc_inicial}} a {{escala.porc_final}}
										//span(ng-show="!$first") .9

						.col-xs-1


