div(style="display: table; min-height: 28cm ; position: relative; " ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	span(ng-if="year.config_certificado_estudio_id")
		img.encabezado-membrete(ng-src="{{perfilPath + year.config_certificado.encabezado_nombre}}"
			style="width: 22cm; position: absolute; margin-left: -10px;" ng-if="year.config_certificado.encabezado_nombre")
	.row
		div(ng-style="{ 'margin-top' : year.config_certificado.encabezado_margin_top+'px', 'margin-left' : year.config_certificado.encabezado_margin_left+'px' }")
			.col-lg-12.col-xs-12
				.row.encabezado-boletin(style="padding-bottom: 0px;")
					.col-lg-12.col-xs-12(style="padding: 0;")
						.row
							.col-lg-2.col-xs-2
								img.img-responsive.logo-colegio(ng-if="!year.config_certificado_estudio_id" ng-src="{{perfilPath + year.logo}}")
							.col-lg-8.col-xs-8.title-encabezado-boletin
								.dane-certificado(ng-show="config.show_datos")
									| DANE: {{ year.codigo_dane }}
								//.nombre-colegio(style="font-size: 12pt")
									span(ng-show="year.sexo_rector=='M'") EL SUSCRITO RECTOR DEL
									span(ng-show="year.sexo_rector=='F'") LA SUSCRITA RECTORA DEL
									|    {{ year.nombre_colegio }}
								.nombre-colegio(style="margin-top: 20px;")
									| CONSTANCIA DE DESEMPEÑO
									span(ng-class="{'hidden-print': year.contador_certificados.length == 0}")  No {{ year.contador_certificados }}
									span.hidden-print
										input(ng-model="year.contador_certificados" uib-tooltip="Cambie el contador de certificados"
											ng-change="$parent.cambia_contador_certificados(year.contador_certificados, year.year_id, 'contador-certificados')"
											ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
											style="width: 60px!important; font-size: 10pt; font-weight: 300;")

								.resolucion-colegio(ng-if="config.show_datos")
									|   {{year.resolucion}}

							.col-lg-2.col-xs-2(style="padding: 0; margin-top: -35px;")
								img.img-responsive.foto-alumno(ng-src="{{perfilPath + alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")




						.row.descripcion-encabezado(style="margin-top: 4px; " ng-class="{'espaciado': espaciado}")
							.col-lg-12.col-xs-12

								.grupo-alumno(ng-if="$parent.$state.is('panel.informes.certificados_estudio_periodo')")
									span(ng-show="year.sexo_rector=='M'") El suscrito rector del
									span(ng-show="year.sexo_rector=='F'") La suscrita rectora del
									b    {{ year.nombre_colegio }}
									|   que,
									b   {{alumno.nombres + ' ' + alumno.apellidos}},
									|   identificado con {{ alumno.tipo_doc_abrev }}
									b   {{ alumno.documento | formatNumberDocumento }},
									span
										|    ha cursado en este plantel educativo las áreas correspondientes al grado
									b.camel   {{ grupo.nombre_grupo.toLowerCase() }}
									|   de la {{ grupo.nivel_educativo}}
									i  hasta el periodo
									b  {{ config.periodo_a_calcular }} de {{ USER.year }}
									|  obteniendo los siguientes resultados:


								.grupo-alumno(ng-if=" !$parent.$state.is('panel.informes.certificados_estudio_periodo')")
									span(ng-show="year.sexo_rector=='M'") Los suscritos rector y
									span(ng-show="year.sexo_rector=='F'") Los suscritos rectora y

									span(ng-show="year.sexo_secretario=='M'")  secretario del
									span(ng-show="year.sexo_secretario=='F'")  secretaria del

									b   {{ year.nombre_colegio }}
									|   , de carácter {{ year.caracter }}, calendario {{ year.calendario }}, jornada {{ year.jornada }}.

									span(ng-if="::alumno.asignaturas.length>16")
										|   Hacen constar

									div.text-center.hace-constar(style="font-size: 11pt;" ng-if="::alumno.asignaturas.length<=16" ng-class="{'espaciado': espaciado}")
										b   HACEN CONSTAR


									span(ng-class="{'margin-espacio-cert': year.cant_areas_pierde_year>0}")
										|   Que,
										b   {{alumno.nombres + ' ' + alumno.apellidos}}
										| , identificado con {{ alumno.tipo_doc_abrev }}
										b   {{ alumno.documento | formatNumberDocumento }},
										span(ng-show="::alumno.promovido == 'Promovido (manual)' || alumno.promovido == 'Promovido (calculado)' " style="font-weight:bold")
											|  cursó y aprobó
										span(ng-show="::alumno.promovido == 'No promovido (manual)' || alumno.promovido == 'No promovido (calculado)' " style="font-weight:bold")
											|  NO aprobó
										span(ng-show="::alumno.promovido == 'Promoción pendiente (manual)' || alumno.promovido == 'Promoción pendiente (calculado)' ")
											|  aprobó con áreas pendientes
										
											
										|   en éste plantel educativo las áreas correspondientes al grado
										b.camel   {{grupo.nombre_grupo.toLowerCase()}}
										|   de la {{grupo.nivel_educativo}}
										|   durante el año
										b  {{USER.year}},
										|  obteniendo los siguientes resultados:

										span(ng-if="::alumno.asignaturas.length>16 && year.contador_folios.length == 0" style="position: absolute; right: 20px; font-weight: bold; margin-top: 12px;")
											| Nro Matrícula:
											span(ng-show="alumno.no_matricula")   {{ alumno.no_matricula }}
											span(ng-hide="alumno.no_matricula")   {{ alumno.documento | formatNumberDocumento }}

				.row.certi-nro-matri(uib-popover-template="views+'informes/infoTitularPop.tpl.html'" ng-class="{'espaciado': espaciado}"
					popover-popup-delay="400" popover-title="{{grupo.nombres_profesor + ' ' + grupo.apellidos_profesor}}" popover-animation="true"
					popover-trigger="'mouseenter'" style="font-weight: bold;" popover-append-to-body="true")

					.col-lg-6.col-xs-6(style="font-size: 10pt;" ng-if="::alumno.asignaturas.length<=16 || year.contador_folios.length > 0")
						| Nro Matrícula:
						span(ng-show="alumno.no_matricula")   {{ alumno.no_matricula }}
						span(ng-hide="alumno.no_matricula")   {{ alumno.documento | formatNumberDocumento }}

					.col-lg-6.col-xs-6(ng-class="{'hidden-print': year.contador_folios.length == 0}")
						| Folio: {{ year.contador_folios }}
						//span(style="border: 1px solid #000; padding: 8px 50px; margin-left: 4px;")
						span.hidden-print
								input(ng-model="year.contador_folios" uib-tooltip="Cambie el contador de folios"
									ng-change="$parent.cambia_contador_certificados(year.contador_folios, year.year_id, 'contador-folios')"
									ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
									style="width: 60px!important; font-weight: 300;")



				.row.body-boletin(style="margin-top: 10px; margin-bottom: 10px; ")
					.col-lg-11.col-xs-11(style="padding-left: 50px;")
						table.table-bordered.table-bordered2.table-striped.table-striped2(style="margin: 0 auto; width: 100%; font-size: 8pt;")

								tr(style="background-color: #99caed !important; font-weight: bold;")
									td.txtcentro(style="width: 30px;") NO
									td.txtcentro(style="width: 310px")
										span
											| ÁREAS
										span(ng-show="::year.cant_asignatura_pierde_year > 0 || year.show_subasignaturas_en_finales == 1")
											|  / ASIGNATURAS

									td.txtcentro(style="width: 65px") IH
									td.txtcentro(style="width: 140px")
										// por ahora igual a ver si Francisco me pide cambiarlo
										span(ng-show="::year.cant_areas_pierde_year > 0 && year.cant_asignatura_pierde_year == 0")
											| ESCALA NACIONAL

									td.txtcentro(style="width: 65px; border-left: 2px solid !important;")
										// por ahora igual a ver si Francisco me pide cambiarlo
										span(ng-show="::year.cant_areas_pierde_year > 0 && year.cant_asignatura_pierde_year == 0")
											| ESCALA VALORATIVA


								tr(ng-if="::area.asignaturas.length>1" ng-repeat-start="area in ::alumno.areas | orderBy:'orden' track by $index")
									td.text-center
										span(ng-show="area.asignaturas.length>1") {{ $index + 1 }}
									td
										b {{ ::area.area_nombre }}

									td.txtcentro
										span(ng-show="::year.cant_areas_pierde_year>0") {{ ::area.creditos }}
									td.text-center(ng-class="{'nota-perdida-puestos': area.area_nota<USER.nota_minima_aceptada}")
										span(ng-show="::year.cant_areas_pierde_year>0") D.
										|  {{ ::area.area_desempenio }}
									td.text-center(ng-class="{'nota-perdida-puestos': area.area_nota<USER.nota_minima_aceptada}") {{ ::area.area_nota }}


								tr(ng-repeat-end ng-repeat="asignatura in ::area.asignaturas" ng-if="::(year.cant_areas_pierde_year>0 && area.asignaturas.length==1) || (year.cant_asignatura_pierde_year>0) || (year.show_subasignaturas_en_finales && area.asignaturas.length>=1)")
									//td.text-center {{ asignatura.indice }}
									td.text-center
										span(ng-show="area.asignaturas.length==1") {{ $parent.$parent.$index + 1 }}
									td

										div(style="font-weight: bold;" ng-class="{'asig-padding-left-20': area.asignaturas.length>1 }"
											uib-popover-template="::views+'informes/infoDocentePop.tpl.html'"
											popover-popup-delay="500" popover-title="{{::asignatura.nombres_profesor}} {{::asignatura.apellidos_profesor}}" popover-animation="true"
											popover-trigger="'mouseenter'"  popover-append-to-body="true")
											| {{ ::asignatura.materia }}

									td.txtcentro
										| {{ asignatura.creditos }}
									//td.txtcentro
										span(ng-show="asignatura.ausencias > 0") {{asignatura.ausencias}}
									td.txtcentro
										span(ng-show="::year.cant_areas_pierde_year>0") D.
										|  {{ asignatura.desempenio }}
									td.puntero.txtcentro(ng-class="{'nota-perdida-puestos': ((asignatura.promedio | number:0 )*1) < (USER.nota_minima_aceptada*1) }")
										| {{asignatura.promedio | number:0}}
										//span.cant-unidades-perdidas(ng-show="{{asignatura.notas_perdidas > 0}}")
											| ({{asignatura.notas_perdidas}})

								tr(ng-show="$parent.year.mostrar_nota_comport_boletin")
									td
									td
										i Comportamiento
											span(style="font-size: 7pt;")  (no computa con lo académico)
									td
									td.txtcentro
										| {{ alumno.nota_comportamiento_year_desempenio }}
									td.txtcentro
										i {{alumno.nota_comportamiento_year}}


								tr(style="border-top: 2px solid;")
									td
									td() Total

									td.txtcentro {{ alumno.total_creditos }}
									//td.txtcentro {{ alumno.ausencias }}
									td.txtcentro {{ alumno.desempenio }}

									td.txtcentro(style="font-weight: bold; border-left: 2px solid !important;")
										| {{alumno.promedio | decimales:0 }}
										//span.cant-unidades-perdidas(ng-show="{{alumno.notas_perdidas > 0}}")
											| ({{alumno.notas_perdidas}})








				.row
					.col-lg-12.col-xs-12(style="margin-top: -5px; font-size: 9pt;" ng-if="alumno.recuperaciones.length>0")
						.row(ng-repeat="recuperacion in alumno.recuperaciones" ng-show="recuperacion.mostrar_en_certificado")
							.col-lg-1.col-xs-1(style="width: 5%")
							.col-lg-9.col-xs-9
								| Su calificación en la nivelación de
								b  {{ recuperacion.materia }}
								span   es
								b  {{ recuperacion.nota }}
								

					.col-lg-12.col-xs-12
						div(ng-if="::year.frase_final_certificado" ng-class="{'margin-espacio-cert': year.cant_areas_pierde_year>0}")
							| {{ ::year.frase_final_certificado }}
						div(style="margin-top: 5px;")
							| Dado en {{year.ciudad}} ({{year.departamento}}) a los {{fecha_dia}} días del mes de {{fecha_mes}} de {{fecha_year}}.



				.row.footer-boletin 
					.col-lg-12.col-xs-12
					.row.firma-rector(ng-class="{'espaciado': espaciado}")
						.col-lg-6.col-xs-6.rector-firma
							img(ng-show="config.show_firma_rector" ng-src="{{perfilPath + year.rector_firma}}")

						.col-lg-6.col-xs-6.titular-firma
							img(ng-show="config.show_firma_secretario" ng-src="{{perfilPath + year.secre_firma}}")



					.row
						.col-lg-6.col-xs-6.nombre-rector-firma
							| {{year.nombres_rector}} {{year.apellidos_rector}}

						.col-lg-6.col-xs-6.nombre-titular-firma
							| {{year.nombres_secretario}} {{year.apellidos_secretario}}


					.row(ng-show="config.show_cedulas")
						.col-lg-6.col-xs-6
							| {{year.rector_documento}}

						.col-lg-6.col-xs-6
							| {{year.secretario_documento}}


					.row
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='M'" style="margin-top: -5px;")
							| Rector
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='F'" style="margin-top: -5px;")
							| Rectora

						span
							.col-lg-6.col-xs-6(ng-show="year.sexo_secretario=='M'" style="margin-top: -5px;")
								| Secretario
							.col-lg-6.col-xs-6(ng-show="year.sexo_secretario=='F'" style="margin-top: -5px;")
								| Secretaria

					.row
						.col-xs-1

						.col-xs-10
							div(style="border: 1px solid #888; padding: 4px; font-size: 8pt; margin-top: 5px;")

								div
									span(style="font-weight: bold; font-style: italic;") IH:
									|  Intensidad horaria semanal. {{ year.minu_hora_clase }} minutos de clase. 40 semanas escolares al año.
									b  {{USER.nota_minima_aceptada}}
									|  es la nota mínima aprobatoria.
								div
									span(ng-repeat="escala in $parent.escalas_val" style="width: 150px; display: inline-block;")
										span(style="font-weight: bold; font-style: italic;") D. {{escala.desempenio}}:
										|  de {{escala.porc_inicial}} a {{escala.porc_final}}
										//span(ng-show="!$first") .9

						.col-xs-1



	span(ng-if="year.config_certificado_estudio_id" style="display: table-row; vertical-align: bottom; height: {{year.config_certificado.piepagina_height}}px;")
		img.footer-membrete(ng-if="year.config_certificado.piepagina_nombre" ng-src="{{perfilPath + year.config_certificado.piepagina_nombre}}"
			style="width: 22cm; position: absolute; margin-left: -10px;")




