.row.hidden-print()
	.col-lg-12.col-xs-12
		edit-notas-mat-year-dir(asignatura="alumno_mat.asignatura" alumno="alumno_mat.alumno" alumnosasigs="alumnos_materias" ng-repeat="alumno_mat in alumnos_materias")


div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal', 'page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false }"
	ng-repeat="grupo in grupos_puestos | orderBy:'orden'")
	.row
		.col-lg-12.col-xs-12
			.row.encabezado-puestos
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{perfilPath + grupo.year.logo}}" style="width: 70px;")
						.col-lg-8.col-xs-8.title-encabezado-boletin
							.nombre-colegio
								| {{grupo.year.nombre_colegio + ' - ' + grupo.year.abrev_colegio}}
							.resolucion-colegio
								| {{grupo.year.resolucion}}
							.title-descripcion
								| Puestos Año {{USER.year}} Grupo {{grupo.grupo.nombre_grupo}}
							div(style="font-size: 8pt;")
								| {{ fechahora | date : 'dd/MM/yyyy h:mma' }}
						.col-lg-2.col-xs-2.no-padding(style="text-align: right; font-size: 9pt")
							img.img-responsive.foto-profe.menos-margin(ng-src="{{perfilPath + grupo.grupo.foto_nombre}}" ng-show="config.mostrar_foto && grupo.grupo.foto_id" style="float: right; width: 70px;")
	.row
		.col-lg-12
			table.table-bordered.table-bordered2.table-striped.table-striped2
				tr(style="border-bottom: 2px solid;")
					th.texto-negrita No
					th.text-center.texto-negrita Nombres
					th.texto-negrita(ng-repeat="asignatura in grupo.alumnos[0].notas_asig | orderBy:['orden_area', 'orden_materia', 'orden_asignatura'] ") {{ asignatura.alias }}
					th.text-center.texto-negrita(style="border-left: 2px solid !important;") Total
				tr(ng-repeat="alumno in grupo.alumnos | orderBy:'-promedio_year' | materiasPerdidasYear:filtrar.materias_perdidas:USER.nota_minima_aceptada" )
					td {{$index + 1}}
					td(ng-class="{'nota-sobre':alumno.sobre }")
						.nombresellipsis.ellipsis250( uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'"
							popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
							popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true"
							ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}")


							| {{alumno.nombres + ' ' + alumno.apellidos}}

					td.puntero(ng-repeat="asignatura in alumno.notas_asig | orderBy:['orden_area', 'orden_materia', 'orden_asignatura'] "
						ng-class="{'nota-perdida-puestos': asignatura.nota_final_year < USER.nota_minima_aceptada, 'nota-sobre':(asignatura.sobre) && (alumno.sobre) }"
						ng-click="add_alum_materia(asignatura, alumno)" ng-mouseenter="asignatura.sobre=true; alumno.sobre=true" ng-mouseleave="asignatura.sobre=false; alumno.sobre=false"
						uib-tooltip="{{asignatura.materia}}" tooltip-popup-delay="300" tooltip-append-to-body="true")

						span(ng-hide="mostrar_faltante") {{asignatura.nota_final_year}}
						span(ng-show="mostrar_faltante" style="color: blue") {{asignatura.nota_faltante}}

						span.cant-unidades-perdidas(ng-show="asignatura.cant_perdidas > 0 && !mostrar_faltante")
							| ({{asignatura.cant_perdidas}})

					td(style="border-left: 2px solid !important;")
						span {{alumno.promedio_year | decimales:2}}
						span.cant-unidades-perdidas(ng-show="alumno.perdidos_year > 0") ({{ alumno.perdidos_year }})
				tr(style="border-top: 2px solid;")
					td.texto-negrita
					td.texto-negrita() Total
					td.texto-negrita(ng-repeat="asignatura in grupo.alumnos[0].notas_asig") {{ grupo.alumnos | promAsigYear:asignatura.asignatura_id }}
					td.texto-negrita(style="border-left: 2px solid !important;") {{ grupo.alumnos | promGrupoYear }}
						span.cant-unidades-perdidas(ng-show="(grupo.alumnos | notasPerdidasGrupoYear) > 0") ({{grupo.alumnos | notasPerdidasGrupoYear}})


