.col-lg-12.margin-padding-lados-xs
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption {{dato.asignatura.materia + ' - ' + dato.asignatura.nombre_grupo + ' - ' + dato.asignatura.nombres_profesor}}
		.widget-body


			.form-group
				div(style="width=100%; height: 80px; text-align: center; border: 1px solid #ccc; overflow-y: auto; background-color: #eee;")
					.btn-group
						button.btn.btn-default.btn-asignaturas(ng-repeat="asignatura in asignaturas" ng-class="{active: asignatura.active}"
							ng-click="selectAsignatura(asignatura)" uib-tooltip="{{asignatura.nombre_grupo}}. {{ asignatura.materia }}" tooltip-append-to-body="true")
							| {{ asignatura.abrev_grupo }}. {{ asignatura.alias_materia }}

			div
				a(href="" ng-click="arreglarDuplicados(0)" style="padding-right: 10px") Arreglar duplicados per 1
				a(href="" ng-click="arreglarDuplicados(1)" style="padding-right: 10px") Arreglar duplicados per 2
				a(href="" ng-click="arreglarDuplicados(2)" style="padding-right: 10px") Arreglar duplicados per 3
				a(href="" ng-click="arreglarDuplicados(3)") Arreglar duplicados per 4
			
			div.table-responsive(ng-show="dato.asignatura.alumnos")

				.row
					.col-md-12
						.alert.alert-info.fade.in.radius-bordered(ng-show="dato.asignatura.alumnos.per_desact['per1']" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
							i.fa-fw.fa.fa-info
							| Periodo 1 acaba de ser calculado

						.alert.alert-info.fade.in.radius-bordered(ng-show="dato.asignatura.alumnos.per_desact['per2']" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
							i.fa-fw.fa.fa-info
							| Periodo 2 acaba de ser calculado

						.alert.alert-info.fade.in.radius-bordered(ng-show="dato.asignatura.alumnos.per_desact['per3']" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
							i.fa-fw.fa.fa-info
							| Periodo 3 acaba de ser calculado

						.alert.alert-info.fade.in.radius-bordered(ng-show="dato.asignatura.alumnos.per_desact['per4']" style="margin-top: 10px; margin-bottom: 8px; margin-left: 30px")
							i.fa-fw.fa.fa-info
							| Periodo 4 acaba de ser calculado


				div.table-responsive(fixed-column-table fixed-columns="2")

					table.table.table-hover.table-condensed.table-striped.tablenot100.inmovible
						thead
							tr
								th.cross(rowspan="2" style="width: 20px; line-height: 3;")
									div No
								th.cross.text-center(rowspan="2" style="min-width: 50px; line-height: 3;")
									div Nombres

								th.border-right-dddd(colspan="4")
									div.text-center.nombresellipsis(uib-tooltip="Periodo 1" tooltip-popup-delay="500") Per1
								th.border-right-dddd(colspan="4")
									div.text-center.nombresellipsis(uib-tooltip="Periodo 2" tooltip-popup-delay="500") Per2
								th.border-right-dddd(colspan="4")
									div.text-center.nombresellipsis(uib-tooltip="Periodo 3" tooltip-popup-delay="500") Per3
								th.border-right-dddd(colspan="4")
									div.text-center.nombresellipsis(uib-tooltip="Periodo 4" tooltip-popup-delay="500") Per4

								th(rowspan="2" style="line-height: 3;")
									div(uib-tooltip="Promedio de las notas automáticas") Definitiva
								th(rowspan="2" style="line-height: 3;")
									div(uib-tooltip="Nota de recuperación") Recuperación
								th(rowspan="2" style="line-height: 3;")
									div(uib-tooltip="Valor que le falta para pasar") Falta

							tr
								th
									div.text-center.nombresellipsis(uib-tooltip="Automática: calculada por el sistema" tooltip-popup-delay="500") Auto
								th
									div.text-center.nombresellipsis(uib-tooltip="Así se verá en los informes" tooltip-popup-delay="500") Final
								th(style="padding-left: 0px; padding-right: 0px; font-size: 8pt;")
									div.text-center.nombresellipsis(uib-tooltip="Indica si la definitiva será calculada automáticamente o manualmente") Manual
								th.border-right-dddd
									div.text-center.nombresellipsis(uib-tooltip="Establecer si la nota es recuperada o normal" tooltip-popup-delay="500") Rec

								th
									div.text-center.nombresellipsis(uib-tooltip="Automática: calculada por el sistema" tooltip-popup-delay="500") Auto
								th
									div.text-center.nombresellipsis(uib-tooltip="Así se verá en los informes" tooltip-popup-delay="500") Final
								th(style="padding-left: 0px; padding-right: 0px; font-size: 8pt;")
									div.text-center.nombresellipsis(uib-tooltip="Indica si la definitiva será calculada automáticamente o manualmente") Manual
								th.border-right-dddd
									div.text-center.nombresellipsis(uib-tooltip="Establecer si la nota es recuperada o normal" tooltip-popup-delay="500") Rec

								th
									div.text-center.nombresellipsis(uib-tooltip="Automática: calculada por el sistema" tooltip-popup-delay="500") Auto
								th
									div.text-center.nombresellipsis(uib-tooltip="Así se verá en los informes" tooltip-popup-delay="500") Final
								th(style="padding-left: 0px; padding-right: 0px; font-size: 8pt;")
									div.text-center.nombresellipsis(uib-tooltip="Indica si la definitiva será calculada automáticamente o manualmente") Manual
								th.border-right-dddd
									div.text-center.nombresellipsis(uib-tooltip="Establecer si la nota es recuperada o normal" tooltip-popup-delay="500") Rec

								th
									div.text-center.nombresellipsis(uib-tooltip="Automática: calculada por el sistema" tooltip-popup-delay="500") Auto
								th
									div.text-center.nombresellipsis(uib-tooltip="Así se verá en los informes" tooltip-popup-delay="500") Final
								th(style="padding-left: 0px; padding-right: 0px; font-size: 8pt;")
									div.text-center.nombresellipsis(uib-tooltip="Indica si la definitiva será calculada automáticamente o manualmente") Manual
								th.border-right-dddd
									div.text-center.nombresellipsis(uib-tooltip="Establecer si la nota es recuperada o normal" tooltip-popup-delay="500") Rec


						tbody
							tr(ng-repeat="alumno in dato.asignatura.alumnos.alumnos | filter:searchAlum" ng-class="{'danger': promedioTotal(alumno.alumno_id) < nota_minima_aceptada}")
								td.fixed-cell
									div {{$index+1}}
								td.fixed-cell(style="padding: 0 5px;")
									.nombresellipsis( uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'"
										popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
										popover-trigger="'mouseenter'" popover-popup-delay="500"
										ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}")
										img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 30px; height: 30px;")
										| {{alumno.apellidos + ' ' + alumno.nombres}}
										span(ng-show="alumno.estado=='ASIS'" style="font-size: 8pt") (Asis)




								td
									div {{alumno.def_materia_auto_1 }}
								td
									div.text-center(ng-class="{'inputnota-perdida': alumno.nota_final_per1 < nota_minima_aceptada, 'inputnota-superior': alumno.nota_final_per1 >= escala_maxima.porc_inicial }")
										input.input-nota(type="number" min="0" max="{{::escala_maxima.porc_final}}"
													ng-model="alumno.nota_final_per1"
													ng-change="cambiaNotaDef(alumno, alumno.nota_final_per1, alumno.nf_id_1, 1, dato.asignatura.alumnos.alumnos)"
													ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
													ng-click="verifClickNotaRapida(subunidad.notas[$parent.$index])" ng-disabled="periodos[0].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td
									input.no-margin-top(type="checkbox" ng-model="alumno.manual_1" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaManual(alumno, alumno.manual_1, alumno.nf_id_1, 1)" style="opacity: 1; position: unset;" ng-disabled="periodos[0].profes_pueden_nivelar==0 && !hasRoleOrPerm('admin')")
								td.border-right-dddd
									input.no-margin-top(type="checkbox" ng-model="alumno.recuperada_1" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaRecuperada(alumno, alumno.recuperada_1, alumno.nf_id_1, 1)" style="opacity: 1; position: unset;" ng-disabled="periodos[0].profes_pueden_nivelar==0 && !hasRoleOrPerm('admin')")


								td
									div {{alumno.def_materia_auto_2 }}
								td
									div.text-center(ng-class="{'inputnota-perdida': alumno.nota_final_per2 < nota_minima_aceptada, 'inputnota-superior': alumno.nota_final_per2 >= escala_maxima.porc_inicial }")
										input.input-nota(type="number" min="0" max="{{::escala_maxima.porc_final}}"
													ng-model="alumno.nota_final_per2"
													ng-change="cambiaNotaDef(alumno, alumno.nota_final_per2, alumno.nf_id_2, 2)"
													ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
													ng-click="verifClickNotaRapida(subunidad.notas[$parent.$index])" ng-disabled="periodos[1].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td
									input.no-margin-top(type="checkbox" ng-model="alumno.manual_2" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaManual(alumno, alumno.manual_2, alumno.nf_id_2, 2)" style="opacity: 1; position: unset;" ng-disabled="periodos[1].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td.border-right-dddd
									input.no-margin-top(type="checkbox" ng-model="alumno.recuperada_2" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaRecuperada(alumno, alumno.recuperada_2, alumno.nf_id_2, 2)" style="opacity: 1; position: unset;" ng-disabled="periodos[1].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")


								td
									div {{alumno.def_materia_auto_3 }}
								td
									div.text-center(ng-class="{'inputnota-perdida': alumno.nota_final_per3 < nota_minima_aceptada, 'inputnota-superior': alumno.nota_final_per3 >= escala_maxima.porc_inicial }")
										input.input-nota(type="number" min="0" max="{{::escala_maxima.porc_final}}"
													ng-model="alumno.nota_final_per3"
													ng-change="cambiaNotaDef(alumno, alumno.nota_final_per3, alumno.nf_id_3, 3)"
													ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
													ng-click="verifClickNotaRapida(subunidad.notas[$parent.$index])" ng-disabled="periodos[2].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td
									input.no-margin-top(type="checkbox" ng-model="alumno.manual_3" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaManual(alumno, alumno.manual_3, alumno.nf_id_3, 3)" style="opacity: 1; position: unset;" ng-disabled="periodos[2].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td.border-right-dddd
									input.no-margin-top(type="checkbox" ng-model="alumno.recuperada_3" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaRecuperada(alumno, alumno.recuperada_3, alumno.nf_id_3, 3)" style="opacity: 1; position: unset;" ng-disabled="periodos[2].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")


								td
									div {{alumno.def_materia_auto_4 }}
								td
									div.text-center(ng-class="{'inputnota-perdida': alumno.nota_final_per4 < nota_minima_aceptada, 'inputnota-superior': alumno.nota_final_per4 >= escala_maxima.porc_inicial }")
										input.input-nota(type="number" min="0" max="{{::escala_maxima.porc_final}}"
													ng-model="alumno.nota_final_per4"
													ng-change="cambiaNotaDef(alumno, alumno.nota_final_per4, alumno.nf_id_4, 4)"
													ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
													ng-click="verifClickNotaRapida(subunidad.notas[$parent.$index])" ng-disabled="periodos[3].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td
									input.no-margin-top(type="checkbox" ng-model="alumno.manual_4" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaManual(alumno, alumno.manual_4, alumno.nf_id_4, 4)" style="opacity: 1; position: unset;" ng-disabled="periodos[3].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
								td.border-right-dddd
									input.no-margin-top(type="checkbox" ng-model="alumno.recuperada_4" ng-true-value="1" ng-false-value="0" ng-change="toggleNotaRecuperada(alumno, alumno.recuperada_4, alumno.nf_id_4, 4)" style="opacity: 1; position: unset;" ng-disabled="periodos[3].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")


								td
									div.text-center(ng-bind-html="promedioTotalDef(alumno)"
										ng-class="{'nota-perdida': alumno.total_definit < nota_minima_aceptada, 'nota-superior': alumno.total_definit >= escala_maxima.porc_inicial }"
										uib-tooltip="{{alumno.promedio_automatico}}")
								td

									span.text-center(ng-class="{'inputnota-superior': alumno.recu_nota >= escala_maxima.porc_inicial }")
										input.input-nota(type="number" min="0" max="{{::escala_maxima.porc_final}}"
												ng-model="alumno.recu_nota"
												ng-change="cambiaNotaRecuFinal(alumno, alumno.recu_nota, alumno.recu_id)"
												ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
												ng-disabled="periodos[1].profes_pueden_nivelar==0 && !hasRoleOrPerm('Admin')")
										button.btn.btn-danger.btn-xs(uib-tooltip="Borrar nota de recuperación"
											ng-show="alumno.recu_nota" style="margin-top: -3px;" ng-click="eliminarRecuperacion(alumno, alumno.recu_id)")
											i.fa.fa-times
								td
									div.text-center(ng-bind-html="alumno.nota_requerida")

