div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	div(style="position: absolute; margin-bottom: 0; margin-left: -10px; " ng-show="config.cant_imagenes > 0" ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical' } ")
		img.img-fondo-boletin(ng-src="{{ perfilPath + $parent.config.imagen_fondo.nombre }}"
			ng-repeat="cant in $parent.range(config.cant_imagenes) track by $index")

	.row
		.col-lg-12.col-xs-12
			.row.encabezado-boletin
				.col-lg-12.col-xs-12
					.row
						.col-lg-2.col-xs-2
							img.img-responsive.logo-colegio(ng-src="{{ ::perfilPath }}{{ ::year.logo }}")
						.col-lg-8.col-xs-8.title-encabezado-boletin
							.nombre-colegio
								| {{ ::year.nombre_colegio }} - {{ ::year.abrev_colegio }}
							.resolucion-colegio
								span(ng-bind-html="::year.encabezado_certificado")
							.title-descripcion
								| Boletin periodo {{ ::USER.numero_periodo }} - {{ ::USER.year }}
						.col-lg-2.col-xs-2
							img.img-responsive.img-thumbnail.foto-alumno(ng-src="{{::perfilPath}}{{::alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")

					.row.descripcion-encabezado
						.col-lg-6.col-xs-6
							.grupo-alumno
								span Grupo:
								b.camel   {{ ::grupo.nombre_grupo.toLowerCase() }}
							.titular-grupo(uib-popover-template="::views+'informes/infoTitularPop.tpl.html'"
									popover-popup-delay="500" popover-title="{{::grupo.nombres_profesor}} {{grupo.apellidos_profesor}}" popover-animation="true"
									popover-trigger="mouseenter" popover-append-to-body="true")
								| Titular: Prof. {{ ::grupo.nombres_profesor }}  {{ ::grupo.apellidos_profesor }}
						.col-lg-6.col-xs-6
							h5.nombre-alumno {{::alumno.nombres}} {{::alumno.apellidos}}

			.row.body-boletin
				.col-lg-12.col-xs-12.no-padding
					.materia-item
						table.table-bordered.table-bordered2.table-striped.table-striped2(style="margin: 0 auto; width: 100%")
							tr(style="background-color: #99caed !important;")
								td.text-center
									b No
								td.text-center
									b Asignatura / Área
								td.text-center
									b IH
								td.text-center(style="width: 65px;")
									b P1
								td.text-center(style="width: 65px;")
									b P2
								td.text-center(style="width: 65px;")
									b P3
								td.text-center(style="width: 65px;")
									b P4
								td.text-center(style="width: 40px;")
									i.fa.fa-clock-o.icon-tardanza
									span A/T

							tr(ng-if="::area.asignaturas.length>1" ng-repeat-start="area in ::alumno.areas | orderBy:'orden' track by $index")
								td
								td(colspan="8")
									b {{ ::area.area_nombre }}

							tr(ng-repeat-end ng-repeat="asignatura in ::area.asignaturas")
								td.text-center {{ asignatura.indice }}
								td

									span(style="font-weight: bold;" ng-class="{'padding-left-20': area.asignaturas.length>1 }"
										uib-popover-template="::views+'informes/infoDocentePop.tpl.html'"
										popover-popup-delay="500" popover-title="{{::asignatura.nombres_profesor}} {{::asignatura.apellidos_profesor}}" popover-animation="true"
										popover-trigger="'mouseenter'"  popover-append-to-body="true")
										| {{ ::asignatura.materia }}

									ol(style="font-size: 9pt; margin: 0px; padding-left: 23px;" ng-class="{'padding-left-40': area.asignaturas.length>1 }")
										li(ng-repeat="unidad in ::asignatura.unidades")
											| {{::unidad.definicion_unidad}} - {{::unidad.desempenio}}

									.row.comentarios-asignatura(ng-show="::asignatura.frases.length>0" style="margin-left: 0px; margin-right: 0px;")
										.col-lg-12.col-xs-12
											.comentario-title
												i.fa.fa-comments-o(style="padding-right: 5px;")
												| Observaciones
											.row.comentario-item(ng-repeat="frase in ::asignatura.frases")
												| - {{::frase.frase}}
												span.tipo-frase(ng-show="::frase.frase_id") - {{::frase.tipo_frase}}


								td.text-center(style="font-style: italic; font-size: 9pt;")  {{ ::asignatura.creditos }}
								td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per1<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per1 }}
								td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per2<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per2 }}
								td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per3<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per3 }}
								td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per4<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per4 }}
								td.text-center
									span.text-tardanza {{::asignatura.total_ausencias}} / {{::asignatura.total_tardanzas}}



			.row.comportamiento-boletin
				.col-lg-12.col-xs-12

					span(dynamic="::alumno.encabezado_comportamiento")

					.row.comportamiento-body
						.col-lg-12.col-xs-12.comportamiento-frases
							div(style="border-bottom: 1px solid #666; text-align: center; padding-bottom: 3px; margin-bottom: 3px;")
								.row
									.col-lg-3.col-xs-3
										b Llegadas tarde
										|   a la institución: {{ ::alumno.ausencias_total.cant_tardanzas_entrada }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   en la entrada: {{ ::alumno.ausencias_total.cant_ausencias_entrada }}.
									.col-lg-3.col-xs-3
										b Tardanzas
										|   a clases: {{ ::alumno.ausencias_total.cant_tardanzas_clases }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   a clases: {{ ::alumno.ausencias_total.cant_ausencias_clases }}

							.row(ng-repeat="definicion in alumno.comportamiento.definiciones")
								.col-lg-12.col-xs-12
									| {{::definicion.frase}}



			// GRÁFICO RESUMEN ASIGNATURA
			.row.comportamiento-boletin(style="padding-top: 5px")
				.col-lg-12.col-xs-12(style="height: 140px;")
					.row
						.col-lg-12.col-xs-12.resumen-title
							div(style="position: relative")
								div(style="position: absolute; font-weight: 600; padding-left: 10px")
									| Definitivas por asignaturas

							nvd3(options='options' data='data' api="api")



			.row.resumen-perdidas
				// Tabla de perdidas de este año
				.col-lg-6.col-xs-6.no-padding(ng-if="::alumno.notas_perdidas_year > 0")

					.row.resumen-head
						.col-lg-12.col-xs-12.resumen-title
							span Notas pendientes del año {{::USER.year}}
					.row.resumen-body
						.col-lg-10.col-xs-10.resumen-tabla
							table.table-bordered
								thead
									tr
										td No
										td.text-center Asignaturas
										td(ng-repeat="periodo in ::year.periodos track by $index")
											| Per{{::periodo.numero}}
										td Total
								tbody
									tr(ng-repeat="asignatura_perdida in ::alumno.asignaturas_perdidas")
										td {{$index + 1}}
										td
											div.nombresellipsis.camel(style="width: 140px;") {{::asignatura_perdida.materia.toLowerCase()}}
										td.text-center(ng-repeat="periodo in ::year.periodos track by $index")
											div {{ ::asignatura_perdida.detalle_periodos['cant_perdidas_' + ($index+1) ] }}

										td.text-center
											b {{::asignatura_perdida.detalle_periodos.cant_perdidas_year}}
								tfoot
									tr
										td(colspan="2")
											| Total
										td.text-center(ng-repeat="periodo in ::year.periodos track by $index")
											| {{::alumno['notas_perdidas_per' + ($index+1) ]}}
										td.text-center
											b {{::alumno.notas_perdidas_year}}





			.row.footer-boletin
				.col-lg-12.col-xs-12
					.row
						.col-lg-6.col-xs-6.rector-firma
							img(ng-show="config.show_firma_rector && year.rector_firma_id" ng-src="{{::perfilPath}}{{::year.rector_firma}}")
						.col-lg-6.col-xs-6.titular-firma
							img(ng-show="config.show_firma_titular && grupo.firma_id" ng-src="{{::perfilPath}}{{::grupo.firma_titular_nombre}}")
					.row
						.col-lg-6.col-xs-6.nombre-rector-firma
							| {{::year.nombres_rector}} {{::year.apellidos_rector}}
						.col-lg-6.col-xs-6.nombre-titular-firma
							| {{::grupo.nombres_profesor}} {{::grupo.apellidos_profesor}}

					.row
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='M'")
							| Rector
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='F'")
							| Rectora

						.col-lg-6.col-xs-6
							| Titular




