div(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }"
	style="position: relative; overflow: hidden;")

	div(style="position: absolute; margin-bottom: 0; margin-left: -10px; border-bottom: none;" ng-show="$parent.config.imagen_fondo" ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical' } ")
		img.img-fondo-boletin(ng-src="{{ perfilPath + $parent.config.imagen_fondo.nombre }}"
			ng-repeat="cant in $parent.range(config.cant_imagenes) track by $index")

	div.gr-nombre-vertical
		div.nombre-vertical(ng-repeat="num in [1,2,3,4,5,6,7,8,9,10] track by $index")
			.camel(style="color: #222!important;") {{::alumno.apellidos.toLowerCase() }} {{ ::alumno.nombres.toLowerCase() }}

	.row
		.col-lg-12.col-xs-12
			.row.encabezado-boletin
				.col-lg-12.col-xs-12.no-padding
					.row
						.col-lg-2.col-xs-2(ng-if="::!$parent.hasRoleOrPerm(['psicólogo', 'profesor'])")
							img.img-responsive.logo-colegio(ng-src="{{ ::perfilPath }}{{ ::year.logo }}")
						.col-lg-8.col-xs-8.title-encabezado-boletin(ng-if="::!$parent.hasRoleOrPerm(['psicólogo', 'profesor'])")
							.nombre-colegio
								| {{ ::year.nombre_colegio }} - {{ ::year.abrev_colegio }}
							.resolucion-colegio
								span(ng-bind-html="::year.encabezado_certificado" ng-if="::year.encabezado_certificado!=null && year.encabezado_certificado!='' ")
								span(ng-hide="::year.encabezado_certificado!=null && year.encabezado_certificado!=''") {{::year.resolucion}}
							.title-descripcion
								| Boletin periodo {{ ::USER.numero_periodo }} - {{ ::USER.year }}
						.col-lg-2.col-xs-2
							img.img-responsive.foto-alumno(ng-src="{{::perfilPath}}{{::alumno.foto_nombre}}" ng-show="config.mostrar_foto && alumno.foto_id")

					.row.descripcion-encabezado
						.col-lg-6.col-xs-6
							.grupo-alumno
								span Grupo:
								b.camel   {{ ::grupo.nombre_grupo.toLowerCase() }}
							.titular-grupo(uib-popover-template="::views+'informes/infoTitularPop.tpl.html'"
									popover-popup-delay="500" popover-title="{{::grupo.nombres_profesor}} {{grupo.apellidos_profesor}}" popover-animation="true"
									popover-trigger="mouseenter" popover-append-to-body="true")
								| Titular: Prof. {{ ::grupo.nombres_profesor }}  {{ ::grupo.apellidos_profesor }}
						.col-lg-6.col-xs-6
							h5.nombre-alumno {{::alumno.apellidos}} {{::alumno.nombres}}

			.row.body-boletin
				.col-lg-12.col-xs-12
					table.table-bordered.table-bordered2.table-striped.table-striped2(style="margin: 0 auto; width: 100%")
						tr(style="background-color: #99caed !important;")
							td.text-center
								b No
							td.text-center
								b Asignatura / Área
							td.text-center
								b IH
							//td.text-center(style="width: 65px;")
								b P1
							//td.text-center(style="width: 65px;")
								b P2
							//td.text-center(style="width: 65px;")
								b P3
							//td.text-center(style="width: 65px;")
								b P4
							td.text-center(style="width: 40px;")
								i.fa.fa-clock-o.icon-tardanza
								span A/T

						tr(ng-if="::area.asignaturas.length>1" ng-repeat-start="area in ::alumno.areas | orderBy:'orden' track by $index")
							td
							td(colspan="8")
								b {{ ::area.area_nombre }}

						tr(ng-repeat-end ng-repeat="asignatura in ::area.asignaturas")
							td.text-center {{ asignatura.indice }}
							td

								span(style="font-weight: bold;" ng-class="{'padding-left-20': area.asignaturas.length>1 }"
									uib-popover-template="::views+'informes/infoDocentePop.tpl.html'"
									popover-popup-delay="500" popover-title="{{::asignatura.nombres_profesor}} {{::asignatura.apellidos_profesor}}" popover-animation="true"
									popover-trigger="'mouseenter'"  popover-append-to-body="true")
									| {{ ::asignatura.materia }}

								ol(style="font-size: 9pt; margin: 0px; padding-left: 23px;" ng-class="{'padding-left-40': area.asignaturas.length>1 }")
									li(ng-repeat="unidad in ::asignatura.unidades")
										| {{::unidad.definicion_unidad}}
										//span - {{::unidad.desempenio}}

								.row.comentarios-asignatura(ng-show="::asignatura.frases.length>0" style="margin-left: 0px; margin-right: 0px;")
									.col-lg-12.col-xs-12
										.comentario-title
											i.fa.fa-comments-o(style="padding-right: 5px;")
											| Observaciones
										.row.comentario-item(ng-repeat="frase in ::asignatura.frases")
											| - {{::frase.frase}}
											span.tipo-frase(ng-show="::frase.frase_id") - {{::frase.tipo_frase}}


							td.text-center(style="font-style: italic; font-size: 9pt;")  {{ ::asignatura.creditos }}
							//td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per1<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per1 }}
							//td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per2<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per2 }}
							//td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per3<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per3 }}
							//td.text-center(ng-class="{'nota-perdida-bold': asignatura.nota_final_per4<USER.nota_minima_aceptada}") {{ ::asignatura.desempenio_per4 }}
							td.text-center
								span.text-tardanza {{::asignatura.total_ausencias}} / {{::asignatura.total_tardanzas}}



			.row.comportamiento-boletin
				.col-lg-12.col-xs-12

					span(dynamic="::alumno.encabezado_comportamiento")

					.row.comportamiento-body
						.col-lg-12.col-xs-12.comportamiento-frases
							div(style="border-bottom: 1px solid #666; text-align: center; padding-bottom: 3px; margin-bottom: 3px;")
								.row
									.col-lg-3.col-xs-3
										b Llegadas tarde
										|   a la institución: {{ ::alumno.ausencias_total.cant_tardanzas_entrada }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   en la entrada: {{ ::alumno.ausencias_total.cant_ausencias_entrada }}.
									.col-lg-3.col-xs-3
										b Tardanzas
										|   a clases: {{ ::alumno.ausencias_total.cant_tardanzas_clases }}.
									.col-lg-3.col-xs-3
										b Ausencias
										|   a clases: {{ ::alumno.ausencias_total.cant_ausencias_clases }}

							.row(ng-repeat="situacion in alumno.situaciones")
								.col-lg-12.col-xs-12
									span.bold Per{{situacion.numero}}
									span(uib-tooltip="{{situacion.nombres_profesor + ' ' + situacion.apellidos_profesor}}")
										span.bold  Situación tipo {{situacion.tipo_situacion}}:
										span  {{situacion.descripcion}}

							.row(ng-repeat="definicion in alumno.comportamiento.definiciones")
								.col-lg-12.col-xs-12
									| {{::definicion.frase}}







			.row.footer-boletin(ng-if="::!$parent.hasRoleOrPerm(['psicólogo', 'profesor'])")
				.col-lg-12.col-xs-12
					.row
						.col-lg-6.col-xs-6.rector-firma
							img(ng-show="config.show_firma_rector && year.rector_firma_id" ng-src="{{::perfilPath}}{{::year.rector_firma}}")
						.col-lg-6.col-xs-6.titular-firma
							img(ng-show="config.show_firma_titular && grupo.firma_id" ng-src="{{::perfilPath}}{{::grupo.firma_titular_nombre}}")
					.row
						.col-lg-6.col-xs-6.nombre-rector-firma
							| {{::year.nombres_rector}} {{::year.apellidos_rector}}
						.col-lg-6.col-xs-6.nombre-titular-firma
							| {{::grupo.nombres_profesor}} {{::grupo.apellidos_profesor}}

					.row
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='M'")
							| Rector
						.col-lg-6.col-xs-6(ng-show="::year.sexo_rector=='F'")
							| Rectora

						.col-lg-6.col-xs-6
							| Titular




