.mail-container(style="bbackground-color: #fbfbfb;")

    .mail-sidebar.hidden-print(ng-if="false")
        ul.mail-menu(style="max-height: 360px; overflow: scroll;")
            li(ng-repeat="grupo in grupos" ng-class="{ 'active': grupo.id == grupo_id }" )
                a(href="" ui-sref="panel.actividades({grupo_id: grupo.id})")

                    | {{grupo.nombre}}

        //ul.mail-menu(style="height: 300px; overflow: scroll;")
            li.divider


            li(ui-sref-active="active")
                a(href="" ui-sref="panel.actividades({compartidas: true})")
                    i.fa.fa-share-alt
                    | Compartidas
            li(ui-sref-active="active")
                a(href="" ui-sref="panel.actividades.votaciones")
                    i.fa.fa-legal
                    //span.badge.badge-default.badge-square.pull-right 6
                    | Votaciones

    div(ui-view="actividades_content")
        div(ng-repeat="asignatura in mis_asignaturas | orderBy:'orden' ")

            ul.header-buttons(style="width: 90%")
                li( )
                    a.tooltip-primary(uib-tooltip="Crear actividad" ng-click="crear(asignatura.asignatura_id)")
                        i.fa.fa-plus

                li(style="width: 90%" uib-popover-template="views+'informes/infoDocentePop.tpl.html'"
                    popover-popup-delay="500" popover-title="{{asignatura.nombres_profesor + ' ' + asignatura.apellidos_profesor}}"
                    popover-trigger="'mouseenter'")

                    h6(style="font-weight: bolder !important")
                        | {{ asignatura.materia }}



            .mail-list
                li.list-item(ng-repeat="actividad in asignatura.actividades " style="height: 38px;")
                    .item-check
                        label
                            input(type="checkbox")
                            span.text

                    .item-sender(style="width: 80%;")
                        a.col-name(href="" ui-sref="panel.respuestas({actividad_id: actividad.id})") {{ actividad.descripcion }}
                            span(ng-hide="actividad.descripcion" style="font") (Sin descripción)


                    .item-menu(style="top: 5px;")
                        a.btn-mail.tooltip-primary(href="" uib-tooltip="Editar" ui-sref="panel.editar_actividad({ actividad_id: actividad.id })"
                            tooltip-placement="left" tooltip-popup-delay="500")
                            i.fa.fa-pencil

                        a.btn-mail.tooltip-danger(href="" uib-tooltip="Eliminar" ng-click="eliminarActividad(actividad, asignatura)"
                            tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500")
                            i.fa.fa-times


    // *********************************************
    // ***********    COMPARTIDAS    ***************
    // *********************************************

    div(ng-if="compartidas")
        .mail-header
            ul.header-buttons(style="width: 90%")
                li(style="width: 90%")

                    h6(style="font-weight: bolder !important")
                        | Para Alumnos:
        .mail-body
            .mail-list
                li.list-item(ng-repeat="actividad in actv_alumnos " style="height: 38px;")
                    .item-check
                        label {{ actividad.id }}

                    .item-sender(style="width: 80%;")
                        a.col-name(href="" ui-sref="panel.respuestas({actividad_id: actividad.id})") {{ actividad.descripcion }}
                            span(ng-hide="actividad.descripcion" style="font-style: italic") (Sin descripción)


                    .item-menu(style="top: 5px;")
                        a.btn-mail.tooltip-primary(href="" uib-tooltip="Editar" ui-sref="panel.editar_actividad({ actividad_id: actividad.id })"
                            tooltip-placement="left" tooltip-popup-delay="500")
                            i.fa.fa-pencil

                        a.btn-mail.tooltip-danger(href="" uib-tooltip="Eliminar" ng-click="eliminarActividad(actividad, asignatura)"
                            tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500")
                            i.fa.fa-times

        .mail-header
            ul.header-buttons(style="width: 90%")
                li(style="width: 90%")

                    h6(style="font-weight: bolder !important")
                        | Para Profesores:
        .mail-body
            .mail-list
                li.list-item(ng-repeat="actividad in actv_profes " style="height: 38px;")
                    .item-check
                        label {{ actividad.id }}

                    .item-sender(style="width: 80%;")
                        a.col-name(href="" ui-sref="panel.respuestas({actividad_id: actividad.id})") {{ actividad.descripcion }}
                            span(ng-hide="actividad.descripcion" style="font-style: italic") (Sin descripción)


                    .item-menu(style="top: 5px;")
                        a.btn-mail.tooltip-primary(href="" uib-tooltip="Editar" ui-sref="panel.editar_actividad({ actividad_id: actividad.id })"
                            tooltip-placement="left" tooltip-popup-delay="500")
                            i.fa.fa-pencil

                        a.btn-mail.tooltip-danger(href="" uib-tooltip="Eliminar" ng-click="eliminarActividad(actividad, asignatura)"
                            tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500")
                            i.fa.fa-times

                li.list-item(ng-if="actv_profes.length == 0" style="height: 38px;")
                    .item-sender(style="width: 80%; font-style: italic")
                        a.col-name (No has creado ninguna actividad para Profesores)

        .mail-header
            ul.header-buttons(style="width: 90%")
                li(style="width: 90%")

                    h6(style="font-weight: bolder !important")
                        | Para Acudientes:
        .mail-body
            .mail-list
                li.list-item(ng-repeat="actividad in actv_acudi " style="height: 38px;")
                    .item-check
                        label {{ actividad.id }}

                    .item-sender(style="width: 80%;")
                        a.col-name(href="" ui-sref="panel.respuestas({actividad_id: actividad.id})") {{ actividad.descripcion }}
                            span(ng-hide="actividad.descripcion" style="font-style: italic") (Sin descripción)

                    .item-menu(style="top: 5px;")
                        a.btn-mail.tooltip-primary(href="" uib-tooltip="Editar" ui-sref="panel.editar_actividad({ actividad_id: actividad.id })"
                            tooltip-placement="left" tooltip-popup-delay="500")
                            i.fa.fa-pencil

                        a.btn-mail.tooltip-danger(href="" uib-tooltip="Eliminar" ng-click="eliminarActividad(actividad, asignatura)"
                            tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500")
                            i.fa.fa-times

                li.list-item(ng-if="actv_acudi.length == 0" style="height: 38px;")
                    .item-sender(style="width: 80%; font-style: italic")
                        a.col-name (No has creado ninguna actividad para acudientes)



        .mail-header
            ul.header-buttons(style="width: 90%")
                li(style="width: 90%")

                    h6(style="font-weight: bolder !important")
                        | POR RESPONDER:
        .mail-body
            .mail-list
                li.list-item(ng-repeat="actividad in actv_x_respon" style="height: 38px;")
                    .item-check
                        label {{ actividad.id }}
                    .item-sender(style="width: 80%;")
                        a.col-name(href="" ui-sref="panel.mi_actividad({actividad_id: actividad.id})") {{ actividad.descripcion }}
                            span(ng-hide="actividad.descripcion" style="font-style: italic") (Sin descripción)

                li.list-item(ng-if="actv_x_respon.length == 0" style="height: 38px;")
                    .item-sender(style="width: 80%; font-style: italic")
                        .col-name (No tienes ninguna actividad asignada)






    div(ng-if="!compartidas && !$state.includes('panel.actividades.votaciones')")
        div(ng-hide="AuthService.hasRoleOrPerm('admin')" style="border-top: 3px solid #ccc;")
            //.mail-header
            ul.header-buttons(style="width: 90%")
                li
                    a.tooltip-primary(href="" uib-tooltip="Mostrar otras" ng-click="mostrandoOtras=!mostrandoOtras")
                        i.fa(ng-class="{'fa-chevron-down': mostrandoOtras, 'fa-chevron-right': !mostrandoOtras }")
                li(style="width: 90%")
                    h6(ng-show="!mostrandoOtras")
                        | Otras materias:

        div(ng-show="mostrandoOtras")
            div(ng-repeat="asignatura in otras_asignaturas | orderBy:'orden' ")
                //.mail-header
                ul.header-buttons(style="width: 90%")
                    li(ng-if="AuthService.hasRoleOrPerm('admin')")
                        a.tooltip-primary(href="" uib-tooltip="Crear actividad")
                            i.fa.fa-plus
                    li(style="width: 90%"
                        uib-popover-template="views+'informes/infoDocentePop.tpl.html'"
                        popover-popup-delay="500" popover-title="{{asignatura.nombres_profesor + ' ' + asignatura.apellidos_profesor}}" popover-animation="true"
                        popover-trigger="'mouseenter'")

                        h6
                            | {{ asignatura.materia }}

                //ul.header-buttons.pull-right
                    li
                        a.tooltip-primary(href="")
                            i.fa.fa-angle-left


                //.mail-body
                .mail-list
                    li.list-item(ng-repeat="actividad in actividades " style="height: 38px;")
                        .item-check
                            label
                                input(type="checkbox")
                                span.text

                        .item-sender
                            a.col-name(href="") {{ actividad }}

                        .item-menu
                            a(href="")
                                i.fa.fa-pencil

                            a(href="")
                                i.fa.fa-times

