.row
	.col-xs-12.col-md-12
		.well.with-header(style="padding-top: 80px")
			.header.bordered-yellow 
				.form-group(style="margin-bottom: 0px; ")
					label.col-xs-12.col-sm-2.col-md-2.control-label.no-padding-right(for="act-descrip" style="margin-top: 10px;") Descripción: 
					.col-xs-12.col-sm-10.col-md-10
						input.form-control#act-descrip(type="text" ng-model="actividad.descripcion" placeholder="Descripción" uib-tooltip="Descripción de la actividad")

			.row(ng-show="mostrando_detalles_actividad")
				.col-lg-12.col-sm-12
					
					.row
						.form-group.col-lg-12.col-sm-12.col-xs-12
							| Tipo de actividad: 
							.btn-group.btn-group-justified
								label.btn.btn-default.shiny(ng-model="actividad.tipo" uib-btn-radio="'Contenido'" uib-tooltip="La actividad/tarea solo tiene contenido" tooltip-popup-delay="500" tooltip-append-to-body="true") Contenido
								label.btn.btn-default.shiny(ng-model="actividad.tipo" uib-btn-radio="'Autoevaluacion'" uib-tooltip="Pide una nota al alumno" tooltip-popup-delay="500" tooltip-append-to-body="true") Autoevaluación
								label.btn.btn-default.shiny(ng-model="actividad.tipo" uib-btn-radio="'Cuestionario'" uib-tooltip="Encuesta o cuestionario sin tiempo" tooltip-popup-delay="500" tooltip-append-to-body="true") Cuestionario
								label.btn.btn-default.shiny(ng-model="actividad.tipo" uib-btn-radio="'Examen'" uib-tooltip="Examen con tiempo establecido por tiempo o pregunta" tooltip-popup-delay="500" tooltip-append-to-body="true") Examen
					
					hr.wide

					.row(ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' ")
						
						.form-group.col-lg-12.col-sm-12.col-xs-12(uib-tooltip="¿Actividad para una asignatura o para docentes, acudientes y varios grupos?" tooltip-popup-delay="500" style="width: 250px;")
							label Compartida
							label
								input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="actividad.compartida" ng-change="toggle_compartida(actividad.compartida)" ng-true-value="1" ng-false-value="0")
								span.text.si-no

						// Se muestra si NO es compartida **
						.col-sm-12(style="width: 90%" 
							uib-popover-template="views+'informes/infoDocentePop.tpl.html'" 
							popover-popup-delay="500" popover-title="Titular: {{actividad.nombres_profesor + ' ' + actividad.apellidos_profesor}}" popover-animation="true" 
							popover-trigger="'mouseenter'"
							ng-show="!actividad.compartida")
							
							h6(style="border: 1px solid #ccc; border-radius: 4px; padding: 8px")
								| Solo {{ actividad.nombre_grupo }} -- {{ actividad.materia }}
						
						// Se muestra si ES compartida **
						.col-sm-12(ng-show="actividad.compartida")

							.form-group 
								.btn-group
									label.btn.btn-default.shiny(uib-btn-checkbox ng-click="para_alumnos_toggle(actividad.para_alumnos)" ng-model="actividad.para_alumnos" uib-tooltip="Varios grupos podrán realizar esta actividad" tooltip-popup-delay="500" tooltip-append-to-body="true" ) Para alumnos
									label.btn.btn-default.shiny(uib-btn-checkbox ng-click="para_profesores_toggle(actividad.para_profesores)" ng-model="actividad.para_profesores" uib-tooltip="Actividad para los docentes" tooltip-popup-delay="500" tooltip-append-to-body="true" ) Para profesores
									label.btn.btn-default.shiny(uib-btn-checkbox ng-click="para_acudientes_toggle(actividad.para_acudientes)" ng-model="actividad.para_acudientes" uib-tooltip="Actividad para los acudientes" tooltip-popup-delay="500" tooltip-append-to-body="true" ) Para acudientes
							
							.form-group(ng-show="actividad.para_alumnos")
								label.col-sm-2.control-label.no-padding-right Grupos
								.col-sm-10
									ui-select( ng-model="datos.selected_grupos" multiple on-select="select_grupo_compartido($item)" on-remove="quitando_grupo_compartido($item, $model)" style="width: 100%;")
										ui-select-match(placeholder="Grupos" allow-clear="true") 
											| {{$item.nombre}}
										ui-select-choices(repeat="grupo in grupos | filter: $select.search")
											small(ng-bind-html="grupo.nombre | highlight: $select.search")
								

						.col-sm-12
							hr.wide

						.form-group.col-lg-12.col-sm-12.col-xs-12(uib-tooltip="Mostrar todas las preguntas o de una en una" tooltip-popup-delay="500" style="width: 150px;")
							label Una por una
							label
								input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="actividad.one_by_one" ng-true-value="1" ng-false-value="0")
								span.text.si-no
									
						.form-group.col-lg-12.col-sm-12.col-xs-12(ng-hide="actividad.one_by_one" style="width: 150px;")
							label(for="act-duraexamen") Duracion examen
							.spinner.spinner-horizontal
								input.spinner-input.form-control#act-duraexamen(type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_exam")
								.spinner-buttons.btn-group
									button.btn.spinner-down.blueberry(type="button" ng-click="restar('duracion_exam')")
										i.fa.fa-minus
									button.btn.spinner-up.purple(type="button" ng-click="sumar('duracion_exam')")
										i.fa.fa-plus
									
						.form-group.col-lg-12.col-sm-12.col-xs-12(ng-show="actividad.one_by_one" style="width: 150px;")
							label(for="act-durapreg") Duracion pregunta
							.spinner.spinner-horizontal
								input.spinner-input.form-control#act-durapreg(type="text" minlength="1" maxlength="999" ng-model="actividad.duracion_preg")
								.spinner-buttons.btn-group
									button.btn.spinner-down.blueberry(type="button" ng-click="restar('duracion_preg')")
										i.fa.fa-minus
									button.btn.spinner-up.purple(type="button" ng-click="sumar('duracion_preg')")
										i.fa.fa-plus

						.form-group.col-lg-12.col-sm-12.col-xs-12(uib-tooltip="La nota se define sumando los puntos por pregunta o promediándolas" tooltip-popup-delay="500")
							label.col-sm-2 Calificación:
							.col-sm-10
								select.form-control(ng-model="actividad.tipo_calificacion")
									option(value="Por promedio") Por promedio
									option(value="Por puntos") Por puntos
									option(value="Sin puntaje") Sin calificación

					.row
						.form-group.col-lg-3.col-sm-4.col-xs-12(style="margin-top: 5px;")
							label(for="act-finaliza_at") Fecha de entrega
							.controls
								.input-group
									span.input-group-addon
										i.fa.fa-calendar
									input.form-control.active#act-finaliza_at(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="actividad.finaliza_at" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2030-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Finaliza en")

						.col-lg-5.col-sm-5.col-xs-12(style="padding: 0px")
							div(uib-timepicker ng-model="actividad.finaliza_at" )
					
					.row
						.form-group.col-lg-3.col-sm-6.col-xs-12(uib-tooltip="Redirecciona automáticamente al alumno a esta actividad al loguearse" tooltip-popup-delay="500")
							label En ejecución
							label
								input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="actividad.in_action" ng-true-value="1" ng-false-value="0")
								span.text.si-no

					.row
						.form-group.col-lg-3.col-sm-6.col-xs-12(uib-tooltip="Defina si esta actividad se responde subiendo archivo" tooltip-popup-delay="500")
							label Responder con archivo
							label
								input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="actividad.can_upload" ng-true-value="1" ng-false-value="0")
								span.text.si-no

					
					.row(ng-show="actividad.tipo == 'Contenido' || actividad.tipo == 'Autoevaluacion' ")
						.form-group.col-lg-12.col-sm-12.col-xs-12(style="margin-bottom: 12px;")

							div(ckeditor="editor_options" ng-model="actividad.contenido" ready="onEditorReady")

			
					.row
						.col-lg-12.col-sm-12(style="text-align: right;")
							button.btn.btn-success(ng-click="verResultados()")
								| Ver resultados
					
							button.btn.btn-primary(ng-click="guardarActividad()")
								| Guardar ajustes
					
							button.btn.btn-primary(ng-click="guardarActividad(true)")
								| Guardar y salir
				
			.row(ng-hide="mostrando_detalles_actividad" style="margin-top: 10px")
				.col-lg-12.col-sm-12
					a(href="" ng-click="ver_detalles_actividad()") Mostrar detalles actividad
					

.row(ng-show="actividad.tipo == 'Cuestionario' || actividad.tipo == 'Examen' ")
	.col-xs-12.col-md-12
		.well.with-header.with-footer
			.header.bordered-yellow 
				a(href="" ng-click="ver_preguntas()" ng-hide="mostrando_preguntas") Ver Preguntas
				a(href="" ng-click="ver_preguntas()" ng-show="mostrando_preguntas") Preguntas
			
			.row(ng-show="mostrando_preguntas")
				.col-lg-12.col-sm-12
					button.btn.btn-primary(ng-click="crearPregunta()") 
						i.fa.fa-plus
						| Crear pregunta


				.row(style="margin-top: 10px")
					.col-lg-12.col-sm-12

						div(ui-view="preguntacontent")


				.row(style="margin-top: 10px")
					.col-lg-12.col-sm-12
						ol( sv-root="root-preguntas" sv-on-sort="on_sort_preguntas($item, $partFrom, $partTo, $indexFrom, $indexTo)" sv-part="actividad.preguntas")
							li.well.well-pregunta(ng-repeat="pregunta in actividad.preguntas" sv-element style="padding: 8px; margin-bottom: 5px; ")
								
								span(ng-bind-html="pregunta.enunciado")



								.item-menu(style="top: 5px;")
									a.btn-mail.tooltip-primary(href="" sv-handle uib-tooltip="Ordenar" ng-click="duplicar_pregunta(pregunta)" 
										tooltip-placement="left" tooltip-popup-delay="500" style="margin-right: 4px;")
										i.fa.fa-arrows

									a.btn-mail.tooltip-primary(href="" uib-tooltip="Duplicar pregunta" ng-click="duplicar_pregunta(pregunta)" 
										tooltip-placement="left" tooltip-popup-delay="500" style="margin-right: 4px;")
										i.fa.fa-copy

									a.btn-mail.tooltip-primary(href="" uib-tooltip="Editar" ng-click="editar_pregunta(pregunta)" 
										tooltip-placement="left" tooltip-popup-delay="500")
										i.fa.fa-pencil

									a.btn-mail.tooltip-danger.btn-danger(href="" uib-tooltip="Eliminar" ng-click="eliminar_pregunta(pregunta.id)" 
										tooltip-placement="left" style="margin-left: 4px;" tooltip-popup-delay="500")
										i.fa.fa-times

					// Para scrollear cuando duplique pregunta
					div#end-preguntas 

