#sidebar.hidden-print

	<!-- Page Sidebar Header-->
	#buscar-sidebar.sidebar-header-wrapper
		form
			input.searchinput(type="text" ng-model="selected" placeholder="Buscar alumno"
					typeahead-append-to="'#buscar-sidebar'" typeahead-min-length="2"
					typeahead-on-select="ir_a_persona($item, $model, $label)"
					uib-typeahead="persona_check as persona_check.nombres for persona_check in personaCheck($viewValue)"
					typeahead-loading="loadingPersonas" typeahead-no-results="noResults"
					typeahead-wait-ms="300" typeahead-template-url="{{templateTypeahead}}")



		i.fa.fa-refresh(ng-show="loadingPersonas" style="font-size: 7pt")
		div(ng-show="noResults" style="font-size: 7pt")
			i.fa.fa-check
			| No encontrado.

		i.searchicon.fa.fa-search
		.searchhelper(ng-bind-html="mensaje_no_buscar")

	<!-- /Page Sidebar Header -->

	ul.nav.sidebar-menu.hidden-print

		<!--Dashboard-->
		li(ui-sref-active-eq="active")
			a(ui-sref="panel")
				i.menu-icon.fa.fa-home
				span.menu-text Inicio


		<!--Alumnos-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm('admin')" ng-class="{open:$state.includes('panel.alumnos')||$state.includes('panel.promocionar_notas')||$state.includes('panel.cartera') || $state.includes('panel.acudientes') || $state.includes('panel.asistencias') || $state.includes('panel.prematriculas') || $state.includes('panel.requisitos')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-child
				span.menu-text Alumnos
				i.menu-expand

			ul.submenu
				li( ui-sref-active="active")
					a(ui-sref="panel.alumnos" stop-event="click")
						span.menu-text Todos

				li( ui-sref-active="active")
					a(ui-sref="panel.prematriculas" stop-event="click")
						span.menu-text Prematriculas

				//li( ui-sref-active="active")
					a(ui-sref="panel.matriculas" stop-event="click")
						span.menu-text Matriculas

				li( ui-sref-active="active")
					a(ui-sref="panel.cartera" stop-event="click")
						span.menu-text Cartera

				li( ui-sref-active="active")
					a(ui-sref="panel.promocionar_notas" stop-event="click" uib-tooltip="Promocionar notas de un alumno promovido")
						span.menu-text Promocionar notas

				li( ui-sref-active="active")
					a(ui-sref="panel.acudientes" stop-event="click")
						span.menu-text Acudientes

				li( ui-sref-active="active")
					a(ui-sref="panel.asistencias" stop-event="click" uib-tooltip="Tardanzas y ausencias a la institución")
						span.menu-text Asistencias



		<!-- Profesores-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm('admin')" ng-class="{open:$state.includes('panel.profesores')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-graduation-cap
				span.menu-text Profesores
				i.menu-expand

			ul.submenu
				li( ui-sref-active="active")
					a(ui-sref="panel.profesores" stop-event="click")
						span.menu-text Editar

				li(sub-menu ng-click="toggleOpen()" hija="true" stop-event="click")
					a.menu-dropdown(href="")
						span.menu-text Todos
						i.menu-expand

					ul.submenu
						li(ng-repeat="profe in profesores")
							a(ui-sref="panel.user({username: profe.username})" stop-event="click" uib-tooltip="{{profe.nombres}} {{profe.apellidos}}" tooltip-popup-delay="1500" tooltip-placement="right")
								//i.menu-icon.fa.fa-rocket
								div.menu-text.nombresellipsis {{profe.nombres}} {{profe.apellidos}}
						li(ng-if="profesores.length==0" uib-tooltip="Profesores no contratados" tooltip-popup-delay="1500" tooltip-placement="right")
							a(ui-sref="panel.profesores" stop-event="click")
								div.menu-text.nombresellipsis Profes no contratados


		<!--Notas vista por un Alumno-->
		li(ui-sref-active="active" ng-if="hasRoleOrPerm('alumno') || $parent.USER.tipo=='Alumno' ")
			a(ui-sref="panel.notas_alumno")
				i.menu-icon.fa.fa-apple
				span.menu-text Mis Notas

		<!--Notas vista por un Acudiente-->
		li(ui-sref-active="active" ng-if="$parent.USER.tipo=='Acudiente'")
			a(ui-sref="panel.notas_alumno")
				i.menu-icon.fa.fa-apple
				span.menu-text Notas


		//li(ui-sref-active="active" ng-if="hasRoleOrPerm('alumno') && false")
			a(ui-sref="panel.mis_actividades" stop-event="click")
				i.menu-icon.fa.fa-soccer-ball-o
				span.menu-text Mis Acti-tareas


		<!-- Notas visto por profesor-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm(['profesor'])" ng-class="{open:$state.includes('panel.notas')||$state.includes('panel.listasignaturas')||$state.includes('panel.notas_alumno') || $state.includes('panel.notas_perdidas_profesor_edit') || $state.includes('panel.promocionar_notas')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-apple
				span.menu-text Notas
				i.menu-expand

			ul.submenu
				li(ui-sref-active="active")
					a(ui-sref="panel.listasignaturas" stop-event="click")
						span.menu-text Asignaturas
				li(ui-sref-active="active")
					a(ng-click="listarAsignaturas()" href="" stop-event="click")
						span.menu-text Planilla
				li(ui-sref-active="active")
					a(ui-sref="panel.definitivas_periodos" stop-event="click")
						span.menu-text Definitivas periodos
				li(ui-sref-active="active")
					a(ui-sref="panel.notas_perdidas_profesor_edit" stop-event="click")
						span.menu-text Perdidas
				//li(ui-sref-active="active")
					a(ui-sref="panel.actividades" stop-event="click")
						span.menu-text Acti-tareas
						i.menu-icon.fa.fa-soccer-ball-o
				li(ui-sref-active="active")
					a(ui-sref="panel.copiar" stop-event="click")
						span.menu-text Copiar
						i.menu-icon.fa.fa-copy
				li(ui-sref-active="active")
					a(ui-sref="panel.notas_alumno" stop-event="click")
						span.menu-text.blue De un alumno
				li( ui-sref-active="active")
					a(ui-sref="panel.promocionar_notas" stop-event="click" uib-tooltip="Promocionar notas de un alumno promovido")
						span.menu-text Promocionar notas


		<!-- Notas visto por el admin-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm(['admin'])" ng-class="{open:$state.includes('panel.listasignaturas')||$state.includes('panel.unidades')||$state.includes('panel.notas')||$state.includes('panel.notas_alumno') || $state.includes('panel.notas_perdidas_profesor_edit') || $state.includes('panel.definitivas_periodos')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-apple
				span.menu-text Notas
				i.menu-expand

			ul.submenu.sin_puntos
				li(ui-sref-active="active")
					a(ui-sref="panel.notas_alumno" stop-event="click")
						span.menu-text.blue De un alumno
				li(ui-sref-active="active")
					a(ui-sref="panel.notas_perdidas_profesor_edit" stop-event="click")
						span.menu-text Perdidas
				//li(ui-sref-active="active")
					a(ui-sref="panel.actividades" stop-event="click")
						span.menu-text Actividades
						i.menu-icon.fa.fa-soccer-ball-o
				li(ui-sref-active="active")
					a(ui-sref="panel.copiar" stop-event="click")
						span.menu-text Copiar
						i.menu-icon.fa.fa-copy
				li(ui-sref-active="active")
					a(ui-sref="panel.actividades.votaciones" stop-event="click")
						span.menu-text Votaciones
						i.menu-icon.fa.fa-soccer-ball-o
				li.opcion-sidebar-flotante(ui-sref-active="active" ng-repeat="profe in profesores")
					a(ui-sref="panel.listasignaturas({profesor_id: profe.profesor_id})" stop-event="click" uib-tooltip="{{profe.nombres}} {{profe.apellidos}}" tooltip-popup-delay="200" tooltip-placement="right" tooltip-append-to-body="true")
						img(ng-src="{{perfilPath + profe.foto_nombre}}")
						span.menu-text.nombresellipsis {{::profe.nombres}} {{::profe.apellidos}}
					button.btn.btn-default.btn-sm(ng-click="irDefinitivas(profe.profesor_id)" stop-event="click" style="position: absolute") Defini
				li(ng-if="::profesores.length==0")
					a(ui-sref="panel.profesores" stop-event="click" uib-tooltip="Profesores no contratados" tooltip-popup-delay="1500" tooltip-placement="right")
						div.menu-text.nombresellipsis No hay Profes contratados

		<!-- Profesores visto por un profesor-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm(['profesor'])")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-graduation-cap
				span.menu-text Compañeros
				i.menu-expand

			ul.submenu.sin_puntos
				li.opcion-sidebar-flotante(ui-sref-active="active" ng-repeat="profe in profesores" ng-if="profe.profesor_id!=persona_id")
					a(ui-sref="panel.user.resumen({username: profe.username})" stop-event="click" uib-tooltip="{{profe.nombres}} {{profe.apellidos}}" tooltip-popup-delay="200" tooltip-placement="right" tooltip-append-to-body="true")
						img(ng-src="{{perfilPath + profe.foto_nombre}}")
						span.menu-text.nombresellipsis {{::profe.nombres}} {{::profe.apellidos}}
				li(ng-if="::profesores.length==0")
					a(href="" stop-event="click" uib-tooltip="Profesores no contratados" tooltip-popup-delay="1500" tooltip-placement="right")
						div.menu-text.nombresellipsis No hay Profes contratados

		<!-- Grados-->
		li(sub-menu ng-click="toggleOpen()" ng-if="!hasRoleOrPerm(['admin']) && hasRoleOrPerm(['profesor'])"
			ng-class="{open:$state.includes('panel.niveles')||$state.includes('panel.grados')||$state.includes('panel.grupos')||$state.includes('panel.areas')||$state.includes('panel.materias')||$state.includes('panel.asignaturas')||$state.includes('panel.listalumnos')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-th-large
				span.menu-text Grupos
				i.menu-expand

			ul.submenu
				li(ui-sref-active="active" ng-repeat="grupo in grupos")
					a(ui-sref="panel.listalumnos({grupo_id: grupo.id})" stop-event="click")
						span.menu-text {{grupo.nombre}}


		<!-- Grados-->
		li(sub-menu ng-click="toggleOpen()" ng-if="hasRoleOrPerm(['admin'])"
			ng-class="{open:$state.includes('panel.niveles')||$state.includes('panel.grados')||$state.includes('panel.grupos')||$state.includes('panel.areas')||$state.includes('panel.materias')||$state.includes('panel.asignaturas')||$state.includes('panel.listalumnos') || $state.includes('panel.frases')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-th-large
				span.menu-text Grados y Áreas
				i.menu-expand

			ul.submenu
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a(ui-sref="panel.niveles" stop-event="click")
						span.menu-text Niveles educativos
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a(ui-sref="panel.grados" stop-event="click")
						span.menu-text Grados
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a(ui-sref="panel.grupos" stop-event="click")
						span.menu-text Editar Grupos
				li(sub-menu ng-click="toggleOpen()" hija="true" stop-event="click" ng-class="{open:$state.includes('panel.listalumnos')}")
					a.menu-dropdown(href="")
						span.menu-text Grupos
						i.menu-expand

					ul.submenu
						li(ng-repeat="grupo in grupos" ui-sref-active="active")
							a(ui-sref="panel.listalumnos({grupo_id: grupo.id})" stop-event="click")
								//i.menu-icon.fa.fa-rocket
								span.menu-text {{grupo.nombre}}


				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a.menu-dropdown(ui-sref="panel.areas")
						span.menu-text Áreas
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a.menu-dropdown(ui-sref="panel.materias")
						span.menu-text Materias
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a.menu-dropdown(ui-sref="panel.asignaturas")
						span.menu-text Asignaturas
				li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin'])")
					a.menu-dropdown(ui-sref="panel.frases")
						span.menu-text Frases

		li(ui-sref-active="active" ng-if="!hasRoleOrPerm(['admin']) && hasRoleOrPerm(['profesor'])")
			a(ui-sref="panel.bitacora" stop-event="click")
				i.menu-icon.fa.fa-align-justify
				span.menu-text  Bitácora


		<!-- NOTAS DE UN ALUMNO POR PSICÓLOGO -->
		li(ui-sref-active="active" ng-if="hasRoleOrPerm(['Psicólogo'])" )
			a(ui-sref="panel.notas_alumno" stop-event="click")
				i.menu-icon.fa.fa-apple
				span.menu-text Notas de alumno

		<!-- Disciplina-->
		li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin']) || hasRoleOrPerm(['profesor', 'psicólogo', 'Coord disciplinario'])" )
			a(ui-sref="panel.disciplina")
				i.menu-icon.fa.fa-user
				span.menu-text Disciplina


		<!-- Informes -->
		li(ui-sref-active="active" ng-if="hasRoleOrPerm(['admin']) || hasRoleOrPerm(['profesor']) || hasRoleOrPerm(['Psicólogo'])" )
			a(ng-click="ir_a_informes()" href="")
				i.menu-icon.fa.fa-print
				span.menu-text Informes


		//li(sub-menu ng-show="hasRoleOrPerm('admin')" ng-click="toggleOpen()" menu-is-open="false" ng-class="{active:$state.includes('panel.informes')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-print
				span.menu-text Informes
				i.menu-expand

			ul.submenu
				li
					a(ui-sref="panel.informes" stop-event="click")
						span.menu-text Informes
				li
					a(href="" stop-event="click")
						span.menu-text Puestos

				li
					a(href="" stop-event="click")
						span.menu-text 3 primeros
				li
					a(href="" stop-event="click")
						span.menu-text Boletines
				li
					a(href="" stop-event="click")
						span.menu-text Boletines finales
				li
					a(href="" stop-event="click")
						span.menu-text Por alumno





		<!-- Colegio-->
		li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm('admin')" ng-class="{open:$state.includes('panel.years')||$state.includes('panel.usuarios')||$state.includes('panel.papelera')}")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-institution
				span.menu-text Colegio
				i.menu-expand

			ul.submenu
				li(ui-sref-active="active")
					a(stop-event="click" ui-sref="panel.years")
						span.menu-text Configuración
				li(ui-sref-active="active")
					a(ui-sref='panel.usuarios' stop-event="click")
						span.menu-text Usuarios

				li(ui-sref-active="active")
					a(ui-sref='panel.ciudades' stop-event="click")
						span.menu-text Ciudades



				li(ui-sref="panel.anuncios" stop-event="click" ng-if="false")
					a(href="" stop-event="click")
						span.menu-text Anuncios
				li(ui-sref-active="active" ng-if="false")
					a(ui-sref="panel.mensajes" stop-event="click")
						span.menu-text  Mensajes
				li(ui-sref-active="active")
					a(ui-sref="panel.bitacora" stop-event="click")
						span.menu-text  Bitacora
				li(ui-sref-active="active" ng-if="false")
					a(ui-sref="panel.horarios" stop-event="click")
						span.menu-text  Horarios
				li(ui-sref-active="active")
					a(ui-sref="panel.papelera" stop-event="click")
						span.menu-text  Papelera
						i.menu-icon.fa.fa-trash.themesecondary
		<!-- Ayuda -->
		li(sub-menu ng-click="toggleOpen()" ng-show="hasRoleOrPerm('admin')" menu-is-open="false" ng-if="false")
			a.menu-dropdown(href="")
				i.menu-icon.fa.fa-question-circle.themesecondary
				span.menu-text Ayuda
				i.menu-expand

			ul.submenu
				li
					a(href="tables-simple.html" stop-event="click")
						span.menu-text Agregar notas
				li
					a(href="tables-data.html" stop-event="click")
						span.menu-text Configurar colegio
