.row(ui-view="edit_alumno")


.row
	.col-xs-12.col-md-12
		.well.with-header.with-footer.animated.bounceIn
			.header.bordered-yellow
				span(style="font-size: 12pt") Alumnos
				a.btn.btn-info.shiny(ui-sref="panel.alumnos.nuevo" uib-tooltip="Ingresa datos de un nuevo alumno" style="float: right;")
					i.fa.fa-plus
					|   Crear alumno

				.btn-group
					a.btn.btn-info.shiny(href="" ng-click="exportarAlumnos()" uib-tooltip="Exportar alumnos a Excel")
						i.fa.fa-download
						|   Descargar
					a.btn.btn-info.shiny(href="" uib-tooltip="Importar alumnos desde Excel" type="file" ngf-select="importarSimat($file, $invalidFiles)"
						accept=".xls,.xlsx" ngf-max-size="1MB")
						i.fa.fa-upload
						|   Subir

			.form-group
				selector-grupo-dir

			div(style="border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238);")
				button.btn.btn-default(ng-click="cambiarVariasClaves()") Cambiar claves y usuarios
				div(ng-show="cambiandoClave" style="padding: 5px; ")
					input.form-control(ng-model="clave_cambiar" type="text" placeholder="Escriba contraseña" style="width: 257px")
					input.btn.btn-default(ng-click="guardarClaves()" type="button" value="Cambiar a grupo" uib-tooltip="Cambiar contraseña SOLO a grupo")
					input.btn.btn-default(ng-click="guardarClavesTodosAlumnos()" type="button" value="Cambiar a todos"  uib-tooltip="Cambiar a TODOS los ALUMNOS del plantel")
					br
					input.btn.btn-default(ng-click="guardarClavesTodosAcudientes()" type="button" value="Cambiar a los acudientes"  uib-tooltip="Cambiar a TODOS los acudientes del plantel" style="width: 257px")
					br
					div(style="margin-top: 20px;") Establecer documento como usuario a todos los grupos (los que no tengan documento NO serán modificados y los errores por documentos duplicados serán ignorados):
					input.btn.btn-default(ng-click="PonerDocumentoComoUsernameAlumnos()" type="button" value="Establecer documento a alumnos")
					input.btn.btn-default(ng-click="PonerDocumentoComoUsernameAcudientes()" type="button" value="Establecer documento a acudientes")
						
				
			p(style="margin-top: 8px") Mueva las columnas para mayor comodidad y oculte las que desee:
			#grid1.grid(ui-grid="gridOptions" ui-grid-exporter ui-grid-move-columns ui-grid-expandable ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize ui-grid-pinning style="height: 600px")


			hr.wide

			h4(style="margin-top: 15px") Alumnos retirados {{ USER.year }}:
				a(href="" ng-click="mostrar_retirados=!mostrar_retirados" style="margin-left: 20px")
					i.fa.fa-eye

			table.table.table-striped(ng-if="mostrar_retirados")
				thead
					tr
						th(style="max-width: 10px") No
						th
							a(href="" ng-click="dato.sortType = 'no_matricula'; dato.sortReverse = !dato.sortReverse")
								| Matrícula
								span.fa.fa-caret-down(ng-show="dato.sortType == 'no_matricula' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'no_matricula' && dato.sortReverse")
						th
							a(href="" ng-click="dato.sortType = 'apellidos'; dato.sortReverse = !dato.sortReverse")
								| Apellidos
								span.fa.fa-caret-down(ng-show="dato.sortType == 'apellidos' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'apellidos' && dato.sortReverse")
						th
							a(href="" ng-click="dato.sortType = 'nombres'; dato.sortReverse = !dato.sortReverse")
								| Nombres
								span.fa.fa-caret-down(ng-show="dato.sortType == 'nombres' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'nombres' && dato.sortReverse")
						th(style="max-width: 20px; padding: 0px 0px 8px;")
							a(href="" ng-click="dato.sortType = 'sexo'; dato.sortReverse = !dato.sortReverse")
								i(style="font-weight: bold;").fa.fa-venus-mars
								span.fa.fa-caret-down(ng-show="dato.sortType == 'sexo' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'sexo' && dato.sortReverse")
						th(style="min-width: 180px; text-align: center;")
							a(href="" ng-click="dato.sortType = 'estado'; dato.sortReverse = !dato.sortReverse")
								| Estado
								span.fa.fa-caret-down(ng-show="dato.sortType == 'estado' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'estado' && dato.sortReverse")
						th
							a(href="" ng-click="dato.sortType = 'fecha_retiro'; dato.sortReverse = !dato.sortReverse")
								| Retirado
								span.fa.fa-caret-down(ng-show="dato.sortType == 'fecha_retiro' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'fecha_retiro' && dato.sortReverse")
						th
							a(href="" ng-click="dato.sortType = 'fecha_matricula'; dato.sortReverse = !dato.sortReverse")
								| Matriculado
								span.fa.fa-caret-down(ng-show="dato.sortType == 'fecha_matricula' && !dato.sortReverse")
								span.fa.fa-caret-up(ng-show="dato.sortType == 'fecha_matricula' && dato.sortReverse")

				tbody.filasestrechas
					tr(ng-repeat="alumno in AlumnosDesertRetir | orderBy:dato.sortType:dato.sortReverse track by $index")
						td {{ $index+1 }}
						td.content-menu-matrics
							| {{ alumno.no_matricula }}

							div
								a.btn.btn-default.btn-xs.menu-matrics(ui-sref="panel.matriculas.detalles({alumno_id: alumno.alumno_id})" uib-tooltip="Ver matrículas")
									i.fa.fa-pencil

						td
							div( uib-popover-template="views+'alumnos/popoverAlumnoInfo.tpl.html'"
								popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
								popover-trigger="'mouseenter'" popover-popup-delay="500")

								img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 20px; height: 20px; margin-top: -3px;")
								| {{ alumno.apellidos }}
						td
							| {{ alumno.nombres }}

						td {{ alumno.sexo }}
						td
							span(ng-show="alumno.grupo_id==dato.grupo.id || alumno.estado=='RETI' ")

								span.btn-group(style="margin-top: -2px; padding-bottom: 2px;")
									label.btn.btn-info.btn-xs(ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)") Matr
									label.btn.btn-info.btn-xs(ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)") Asis
									label.btn.btn-info.btn-xs(ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)") Reti
									label.btn.btn-info.btn-xs(ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor" tooltip-placement="right" tooltip-popup-delay="1000") Dese
									label.btn.btn-info.btn-xs(ng-model="alumno.estado" ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-placement="right" tooltip-popup-delay="1000") ...

							.btn-group(ng-show="alumno.grupo_id!=dato.grupo.id " style="margin-top: -2px; padding-bottom: 2px;")
								label.btn.btn-success.shiny.btn-xs(ng-click="setNewAsistente(alumno)" uib-tooltip="Inscribir como asistente") Asis
								label.btn.btn-success.shiny.btn-xs(ng-click="matricularUno(alumno)" uib-tooltip="Matricular" tooltip-popup-delay="1000") Matric
								label.btn.btn-success.shiny.btn-xs(ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-placement="right") ...

						td
							input(ng-model="alumno.fecha_retiro" type="date" ng-show="alumno.estado=='RETI' || alumno.estado=='DESE'"
								ng-change="cambiarFechaRetiro(alumno)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }")
						td
							input(ng-model="alumno.fecha_matricula" type="date" ng-change="cambiarFechaMatricula(alumno)" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }")



			hr.wide

			h4(style="margin-top: 15px") Alumnos del año pasado {{ USER.year - 1 }}:
				a(href="" ng-click="mostrar_pasado=!mostrar_pasado" style="margin-left: 20px")
					i.fa.fa-eye

			div(ng-if="mostrar_pasado")
				#grid1.grid(ui-grid="gridOptionsSinMatricula" ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize style="height: 400px")



			hr.wide

			.row
				.col-sm-6.col-xs-12
					form(ng-submit="buscar_por('nombre')")
						div Buscar en todo el sistema(retirados, de otros años, etc.):
							.input-group
								input.form-control(type="text" name="buscar" placeholder="Buscar..." ng-model="texto_a_buscar")
								.input-group-btn
									button.btn.btn-default(type="submit") Por nombre
									button.btn.btn-default(type="button" ng-click="buscar_por('apellido')") Por Apellido



			table.table.table-striped(ng-show="alumnos_encontrados.length>0" style="max-height: 700px; overflow-y: scroll; display: block;")
				thead
					tr
						th(style="max-width: 25px") No
						th.text-center(style="min-width: 170px") Matrícula
						th.text-center Apellidos
						th.text-center Nombres
						th.text-center(style="max-width: 20px; padding: 0px 0px 8px;")
							i(style="font-weight: bold;").fa.fa-venus-mars
						th.text-center(uib-tooltip="Grupo en este año" tooltip-append-to-body="true") Gru
						th.text-center(style="min-width: 120px; text-align: center;") Creado en
						th.text-center Modificado
						th.text-center Eliminado

				tbody.filasestrechas
					tr(ng-repeat="alumno in alumnos_encontrados track by $index"
						ng-class="{'filagris': alumno.grupo_id!=dato_f.grupo.id, 'filawarning': alumno.estado=='ASIS' }"
						ng-show="!alumno.restaurado")

						td {{ $index+1 }}
						td.text-center

							.btn-group
								a.btn.btn-default.btn-xs(ui-sref="panel.alumnos.matricula_detalles({alumno_id: alumno.alumno_id})" uib-tooltip="Ver matrículas" tooltip-append-to-body="true")
									i.fa.fa-pencil
								a.btn.btn-default.btn-xs(ng-click="matricularUno(alumno)" uib-tooltip="Matricular en {{dato.grupo.abrev}}" tooltip-append-to-body="true" tooltip-) Matri en {{dato.grupo.abrev}}
								a.btn.btn-default.btn-xs(ng-click="matricularEn(alumno)" uib-tooltip="Matricular en..." tooltip-append-to-body="true" tooltip-) Matri en...

						td
							div( uib-popover-template="views+'alumnos/popoverAlumnoInfo.tpl.html'"
								popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
								popover-trigger="'mouseenter'" popover-popup-delay="500")

								img(ng-src="{{perfilPath + alumno.foto_nombre}}" style="width: 20px; height: 20px; margin-top: -3px;")
								| {{ alumno.apellidos }}
						td
							| {{ alumno.nombres }}

						td {{ alumno.sexo }}
						td.text-center(style="background-color: #a8cbea!important;" uib-tooltip="{{alumno.estado}} - {{alumno.nombre_grupo}}" tooltip-append-to-body="true")
							| {{ alumno.abrev_grupo }}
						td.text-center(style="font-size: 7pt") {{ alumno.created_at }}
						td.text-center(style="font-size: 7pt") {{ alumno.updated_at }}
						td.text-center(style="font-size: 7pt" ng-class="{danger: alumno.deleted_at}")
							| {{ alumno.deleted_at }}
							button.btn.btn-default.btn-xs(uib-tooltip="Sacar de papelera"
								ng-click="restaurar(alumno)" ng-show="alumno.deleted_at")
								i.fa.fa-refresh








			.footer
				| Matriculas optimizadas para eficiencia superior.


.row.page-body(ui-view="matricula_detalle")
