.col-lg-12.col-xs-12
	.widget
		.widget-header.bordered-bottom.bordered-blue
			span.widget-caption Nuevo alumno
		.widget-body#crear-nuevo-alumno
			div
				form(role="form" ng-submit="crear(alumno, data.proceso)" style="padding-bottom: 40px;")
					uib-tabset
						uib-tab(heading="Información")
							.widget
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Básica
								.widget-body
									.row
										.form-group.col-lg-4.col-sm-6
											span
												label(for="new-alumno-nombres") Nombres
												input.form-control#new-alumno-nombres(type="text" ng-model="alumno.nombres" placeholder="Nombres"
													typeahead-min-length="2"
													typeahead-on-select="seleccionarPersona($item, $model, $label)"
													uib-typeahead="persona_check as persona_check.nombres for persona_check in personaCheck($viewValue)"
													typeahead-loading="loadingPersonasNombres" typeahead-no-results="noResults"
													typeahead-wait-ms="300" typeahead-template-url="{{templateTypeahead}}")

												i.fa.fa-refresh(ng-show="loadingPersonasNombres" style="font-size: 7pt")

										.form-group.col-lg-4.col-sm-6
											span
												label(for="new-alumno-apellidos") Apellidos
												input#new-alumno-apellidos.form-control(type="text" ng-model="alumno.apellidos" placeholder="Apellidos"
													typeahead-min-length="2"
													typeahead-on-select="seleccionarPersona($item, $model, $label)"
													uib-typeahead="persona_check as persona_check.apellidos for persona_check in personaCheck($viewValue)"
													typeahead-loading="loadingPersonasApellido" typeahead-no-results="noResults"
													typeahead-wait-ms="200" typeahead-template-url="{{templateTypeahead}}")

												i.fa.fa-refresh(ng-show="loadingPersonasApellido" style="font-size: 7pt")

										.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 8px;")
											label Sexo
											.row
												.col-lg-6.col-sm-4.col-xs-12
													.radio
														label
															input.inverted(type="radio" name="sexo" value="M" ng-model="alumno.sexo")
															span.text Masculino
												.col-lg-6.col-sm-4.col-xs-12
													.radio
														label
															input.inverted(type="radio" name="sexo" value="F" ng-model="alumno.sexo")
															span.text Femenino

										.form-group.col-lg-3.col-sm-6.col-xs-12
											label(for="new-alumno-celular-new") Celular
											input#new-alumno-celular-new.form-control(type="text" ng-model="alumno.celular" placeholder="Celular")

									.row
										.form-group.col-lg-3.col-sm-6.col-xs-12
											label(for="new-alumno-no-matr") # Matrícula
											input.form-control#new-alumno-no-matr(type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula")

										.form-group.col-lg-2.col-sm-3.col-xs-12(uib-tooltip="¿Es nuevo este año en la institución?" tooltip-popup-delay="400" style="margin-top: 20px;")
											label Es nuevo
											label
												input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.nuevo" ng-true-value="1" ng-false-value="0")
												span.text.si-no

										.form-group.col-lg-2.col-sm-3.col-xs-12(uib-tooltip="¿Va a repetir el año?" tooltip-popup-delay="400" style="margin-top: 20px;")
											label Es repitente
											label
												input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.repitente" ng-true-value="1" ng-false-value="0")
												span.text.si-no


									.row
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Tipo
											ui-select(ng-model="alumno.tipo_doc" style="width: 100%;")
												ui-select-match(placeholder="Tipo de documento" allow-clear="true") {{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}
												ui-select-choices(repeat="tipo_doc in tipos_doc")
													div(ng-bind-html="tipo_doc.tipo | highlight: $select.search")
													small {{ tipo_doc.abrev}}

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label(for="new-alumno-documento") Número
											input#new-alumno-documento.form-control(type="text" ng-model="alumno.documento" placeholder="Número documento"
												typeahead-min-length="2"
												typeahead-on-select="seleccionarPersona($item, $model, $label)"
												uib-typeahead="documento_check as documento_check.documento for documento_check in documentoCheck($viewValue)"
												typeahead-loading="loadingDocumentos" typeahead-no-results="noResults"
												typeahead-wait-ms="100" typeahead-template-url="{{templateTypeDoc}}")

											i.fa.fa-refresh(ng-show="loadingDocumentos" style="font-size: 7pt")

									.row
										.form-group.col-lg-8.col-sm-8.col-xs-12(style="margin-top: 22px;")
											.btn-group(style="display: block;")
												label.btn.btn-primary(ng-model="data.proceso" name="proceso_matr" uib-btn-radio="'matriculando'" style="width: 25%;")
													| Matricular {{USER.year}}
												label.btn.btn-success(ng-model="data.proceso" name="proceso_matr" uib-btn-radio="'prematriculando'" style="width: 25%;")
													| Prematric {{USER.year+1}}
												label.btn.btn-success(ng-model="data.proceso" name="proceso_matr" uib-btn-radio="'formulario'" style="width: 25%;")
													| Formulario {{USER.year+1}}
												label.btn.btn-success(ng-model="data.proceso" name="proceso_matr" uib-btn-radio="'matriculando_next'" style="width: 25%;")
													| Matricular {{USER.year+1}}

										.form-group.col-lg-4.col-sm-4.col-xs-12(ng-show="data.proceso=='matriculando' ")
											label Matricular en grupo
											ui-select(ng-model="alumno.grupo" style="width: 100%;")
												ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
												ui-select-choices(repeat="grupo in grupos | filter: $select.search")
													div(ng-bind-html="grupo.nombre | highlight: $select.search")

										.form-group.col-lg-4.col-sm-4.col-xs-12(ng-show="data.proceso=='prematriculando' || data.proceso=='formulario' || data.proceso=='matriculando_next' ")
											label Grupos {{USER.year+1}}
												span(ng-show="data.proceso=='prematriculando'")  - Prematricular
												span(ng-show="data.proceso=='formulario'")  - Lleva formulario
												span(ng-show="data.proceso=='matriculando_next'")  - Grupo al que va
											ui-select(ng-model="alumno.grupo_sig" style="width: 100%;")
												ui-select-match(placeholder="Grupo" allow-clear="true") {{$select.selected.nombre}}
												ui-select-choices(repeat="grupo in grupos_siguientes | filter: $select.search")
													div(ng-bind-html="grupo.nombre | highlight: $select.search")

							a(href="" ng-click="mostarMasDetalleNew()" ng-show="!mostrar_mas_new") Llenar más datos
							a(href="" ng-click="mostarMasDetalleNew()" ng-show="mostrar_mas_new") Mostrar menos datos

							.widget(ng-show="mostrar_mas_new")
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Nacimiento
								.widget-body
									.row
										.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
											label(for="new-alumno-fecha-nac") Fecha de nacimiento
											.controls
												.input-group
													span.input-group-addon
														i.fa.fa-calendar
													input.form-control.active#new-alumno-fecha-nac(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="alumno.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Pais
											ui-select(ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Pais nacimiento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
												ui-select-choices(repeat="pais in paises | filter: $select.search")
													div(ng-bind-html="pais.pais | highlight: $select.search")
													small {{ pais.departamento | highlight: $select.search}}
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Departamento
											ui-select(ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Departamento nacimiento" allow-clear="true") {{$select.selected.departamento}}
												ui-select-choices(repeat="departamento in departamentosNac | filter: $select.search")
													div(ng-bind-html="departamento.departamento | highlight: $select.search")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Ciudad
											ui-select(ng-model="alumno.ciudad_nac" style="width: 100%;")
												ui-select-match(placeholder="Ciudad nacimiento" allow-clear="true") {{$select.selected.ciudad}}
												ui-select-choices(repeat="ciudad in ciudadesNac | filter: $select.search")
													div(ng-bind-html="ciudad.ciudad | highlight: $select.search")




							.widget(ng-show="mostrar_mas_new")
								.widget-header.bordered-bottom.bordered-pink
									span.widget-caption Documento
								.widget-body
									.row

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Pais
											ui-select(ng-model="alumno.pais_doc" on-select="paisSelecionado($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Pais documento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
												ui-select-choices(repeat="pais in paises | filter: $select.search")
													div(ng-bind-html="pais.pais | highlight: $select.search")
													small {{ pais.departamento | highlight: $select.search}}

									.row
										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Departamento
											ui-select(ng-model="alumno.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;")
												ui-select-match(placeholder="Departamento documento" allow-clear="true") {{$select.selected.departamento}}
												ui-select-choices(repeat="departamento in departamentos | filter: $select.search")
													div(ng-bind-html="departamento.departamento | highlight: $select.search")

										.form-group.col-lg-4.col-sm-6.col-xs-12
											label Ciudad
											ui-select(ng-model="alumno.ciudad_doc" theme="select2" style="width: 100%;")
												ui-select-match(placeholder="Ciudad documento" allow-clear="true") {{$select.selected.ciudad}}
												ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
													div(ng-bind-html="ciudad.ciudad | highlight: $select.search")

						uib-tab(heading="Datos extras")
							.row
								.form-group.col-lg-2.col-sm-6.col-xs-12
									label(for="new-alumno-tipo-sangre") Tipo de sangre
									ui-select(ng-model="alumno.tipo_sangre" style="width: 100%;")
										ui-select-match(placeholder="Tipo de sangre" allow-clear="true") {{$select.selected.sangre}}
										ui-select-choices(repeat="sangre in sangres | filter: $select.search")
											div(ng-bind-html="sangre.sangre | highlight: $select.search")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-eps") EPS
									input#new-alumno-eps.form-control(type="text" ng-model="alumno.eps" placeholder="EPS")
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-telefono") Teléfono
									input#new-alumno-telefono.form-control(type="text" ng-model="alumno.telefono" placeholder="Teléfono")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-direccion") Direccion
									input#new-alumno-direccion.form-control(type="text" ng-model="alumno.direccion" placeholder="Direccion")
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-barrio") Barrio
									input#new-alumno-barrio.form-control(type="text" ng-model="alumno.barrio" placeholder="Barrio")

								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-estrato") Estrato
									.spinner.spinner-horizontal
										input.spinner-input.form-control#new-alumno-estrato(type="text" minlength="0" maxlength="10" ng-model="alumno.estrato")
										.spinner-buttons.btn-group
											button.btn.spinner-down.blueberry(type="button" ng-click="restarEstrato()")
												i.fa.fa-minus
											button.btn.spinner-up.purple(type="button" ng-click="sumarEstrato()")
												i.fa.fa-plus

								.form-group.col-lg-3.col-sm-6.col-xs-12(ng-if="false")
									label(for="new-alumno-ciudad_resid") Ciudad residencia
									input#new-alumno-ciudad-resid.form-control(type="text" ng-model="alumno.ciudad_resid" placeholder="Ciudad residencia")
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-religion") Religión
									input#new-alumno-religion.form-control(type="text" ng-model="alumno.religion" placeholder="Religión")
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-facebook-new") Facebook
									input#new-alumno-facebook-new.form-control(type="text" ng-model="alumno.facebook" placeholder="Facebook")
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label ¿Está a paz y salvo?
									label
										input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.pazysalvo")
										span.text.si-no
								.form-group.col-lg-3.col-sm-6.col-xs-12
									label(for="new-alumno-deuda-new") Deuda
									input#new-alumno-deuda.form-control(type="text" ng-model="alumno.deuda" placeholder="Deuda")


						uib-tab(heading="Usuario")
							.form-group
								label(for="new-alumno-username-new") Nombre de usuario
								input#new-alumno-username-new.form-control(type="text" ng-model="alumno.username" placeholder="Nombre usuario")
							.form-group
								label(for="new-alumno-password-new") Contraseña
								input#new-alumno-password-new.form-control(type="password" ng-model="alumno.password" placeholder="Contraseña")
							//.form-group
								label(for="new-alumno-password2-new") Verificar contraseña
								input#alumno-password2-new.form-control(type="password" ng-model="alumno.password2" placeholder="Verificar contraseña")
							.form-group
								label(for="new-alumno-email2-new") Correo electrónico
								input#alumno-email2-new.form-control(type="email" ng-model="alumno.email2" placeholder="Correo electrónico")

					br
					span(style="float: right;")

						span(ng-show="$state.includes('panel.persona')")
							a.btn.btn-warning.btn-lg.shiny(type="button" ui-sref="panel.persona") Cerrar
						span(ng-show="$state.includes('panel.prematriculas')")
							a.btn.btn-warning.btn-lg.shiny(type="button" ui-sref="panel.prematriculas") Cerrar
						span(ng-show="$state.includes('panel.alumnos')")
							a.btn.btn-warning.btn-lg.shiny(type="button" ui-sref="panel.alumnos") Cerrar

						button.btn.btn-primary.btn-lg.shiny(type="submit" ng-disabled="guardando")
							i.fa.fa-save
							| Crear


