.row.hidden-print(ui-view="edit_alumno")


.row.hidden-print
  .col-xs-12.col-md-12
    .well.with-header.with-footer
      .header.bordered-yellow
        span(style="font-size: 12pt") Alumnos

        .btn-group
          a.btn.btn-info.shiny(href="" type="file" ngf-select="importarCambios($file, $invalidFiles)"
            accept=".xls,.xlsx" ngf-max-size="1MB"
            uib-popover-template="views+'alumnos/popoverSubirExcelCartera.tpl.html'"
            popover-title="Archivo de Excel" popover-placement="bottom"
            popover-trigger="'mouseenter'" popover-append-to-body="true")

            i.fa.fa-file-excel-o
            |   Subir cambios

      .form-group
        label Elija grupo
        div
          span(uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right")
            ui-select(ng-model="dato.grupo" on-select="onGrupoSelect($item, $model)" theme="select2" style="min-width: 200px;")
              ui-select-match(placeholder="Grupo a matricular" allow-clear="true") {{$select.selected.nombre}}
              ui-select-choices(repeat="grupo in grupos | filter: $select.search")
                div(ng-bind-html="grupo.nombre | highlight: $select.search")

      .row(style="margin: 20px 0px;")
        .col-xs-12.col-sm-5
          a(ng-click="traerSoloDeudores()" href="") Cargar todos los deudores
        .col-xs-12.col-sm-7
          a(ng-click="exportarSoloDeudores()" href="")
            i.fa.fa-file
            |  Exportar deudores a Excel


      div(style="min-height: 40px; border: 1px solid #ccc; margin-bottom: 10px; padding: 4px;")
        div(ng-hide="getSelectedRows().length > 0" style="padding-left: 5px; padding-top: 5px;")
          | Seleccione alumnos y aparecerán aquí varias opciones.

        div(ng-show="getSelectedRows().length > 0")
          a(ng-click="cambiarValorVarios(true, 'pazysalvo')" href="" style="margin-top: 5px; padding-right: 10px; display: inline-block; ") Establecer a paz y salvo
          a(ng-click="cambiarValorVarios(false, 'pazysalvo')" href="" style="margin-top: 5px; padding-right: 10px; display: inline-block; ") - Establecer como deudor

          span(style="padding-right: 10px; display: inline-block; ")
            input(type="number" min="0" style="margin-top: 5px; width: 75px;" ng-model="valorDeuda")
            a(ng-click="cambiarValorVarios(valorDeuda, 'deuda')" href="") Cambiar


          span(style="padding-right: 10px; display: inline-block; ")
            input(type="date" style="margin-top: 5px; width: 130px;" ng-model="valorFecha")
            a(ng-click="cambiarValorVarios(valorFecha, 'fecha_pension')" href="") Cambiar fecha


      #grid1.grid(ui-grid="gridOptions" ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-cellnav ui-grid-selection ui-grid-auto-resize style="height: 700px")



      button.btn.btn-default(ng-click="ver_indorme_listado_deudores()")
        | Ver listado deudores


      button.btn.btn-default(ng-show="viendo_informe_list_deudores" ng-click="imprimir()")
        i.glyphicon.glyphicon-print
        | Imprimir



// Informe listado deudores
div(ng-show="viendo_informe_list_deudores" ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $last==false }")

  .row
    .col-lg-12.col-xs-12
      .row.encabezado-planilla
        .col-lg-12.col-xs-12
          .row
            .col-lg-12
              .nombre-colegio
                | Alumnos por cartera


  .row
    .col-lg-12.col-xs-12(style="padding: 4px;")

      div.text-center(style="padding-top: 10px; font-size: 12pt;")
        span(style="font-weight: 600;") {{ grupo.nombre }}

      table.table-bordered.table-bordered2.table-striped.table-striped2(align="center")
        thead
          tr
            th(style="width: 20px")
              | No
            th.text-center
              | Nombres
            th
              | Última fecha
            th.text-center
              | Estado
            th.text-center
              | Deuda
            th.text-center
              | Grupo
            th.text-center
              | Documento
            th.text-center
              | Celular



        tbody(style="font-size: 10pt")
          tr(ng-repeat="alumno in gridOptions.data track by $index")
            td
              | {{ $index + 1 }}
            td
              .nombresellipsis( uib-popover-template="views+'notas/popoverAlumnoInfo.tpl.html'"
                popover-title="{{alumno.nombres + ' ' + alumno.apellidos}}"
                popover-trigger="'mouseenter'" popover-popup-delay="500" popover-append-to-body="true"
                ng-style="alumno.estado=='ASIS' ? {'font-style': 'italic'} : {}")

                img(width="35px" ng-src="{{perfilPath + alumno.foto_nombre}}")

                | {{ alumno.apellidos }} {{ alumno.nombres }}

            td
              | {{ alumno.fecha_pension | date:'mediumDate' }}

            td
              span(ng-show="alumno.pazysalvo") A paz
              span(ng-show="!alumno.pazysalvo" style="font-weight: 700") Deudor
            td
              | {{ alumno.deuda | currency:"$":0 }}
            td
              | {{ alumno.nombre_grupo }}
            td
              | {{ alumno.documento }}
            td
              | {{ alumno.celular }}

        tfoot
          tr
            td
            td(colspan="2")
              span  Deudores: {{ cantidadDeudores() }}
              span  - Hombres: {{hombresGrupo}} - Mujeres: {{ mujeresGrupo }}


            td
            td
              | {{ deuda_total() }}
            td
            td
            td

