.modal-header
	h3.modal-title {{USER.year}} - Matricular en...
.modal-body
	.row
		.col-lg-12.col-xs-12
			h5 Id: {{alumno.alumno_id}}
			div Nombre:
			h4(style="text-overflow: ellipsis; font-weight: bold") {{alumno.nombres}} {{alumno.apellidos}}

			form.form.form-inline(role="form")

				.form-group
					label Grupo en el cual matricular
					div
						span(uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right")
							ui-select(ng-model="dato.grupo" theme="select2" style="min-width: 200px;")
								ui-select-match(placeholder="Grupo a matricular" allow-clear="true") {{$select.selected.nombre}}
								ui-select-choices(repeat="grupo in grupos | filter: $select.search")
									div(ng-bind-html="grupo.nombre | highlight: $select.search")


			div(style="padding-top: 10px")
				label ¿Es Repitente en este año?
				a.btn.btn-xs(ng-class="{'btn-primary':alumno.repitente, 'btn-info':!alumno.repitente }"
					ng-click="toggleRepitente(alumno);"
					uib-tooltip="Perdió el año pasado en esta institución" href=""
					tooltip-enable="alumno.repitente" style="margin-left: 8px;")

					span(ng-hide="alumno.repitente") No
					span(ng-show="alumno.repitente") Si

			div(style="padding-top: 10px")
				label ¿Es Nuevo en este año?
				a.btn.btn-xs(ng-class="{'btn-primary':alumno.nuevo, 'btn-info':!alumno.nuevo }"
					ng-click="toggleNuevo(alumno);"
					uib-tooltip="Llegó al colegio este año" href=""
					tooltip-enable="alumno.nuevo")

					span(ng-hide="alumno.nuevo") No
					span(ng-show="alumno.nuevo") Si

			div(style="padding-top: 4px")
				label ¿Es Egresado de la institución?
				a.btn.btn-xs(ng-class="{'btn-primary':alumno.egresado, 'btn-info':!alumno.egresado }"
					ng-click="toggleEgresado(alumno);"
					uib-tooltip="Es Egresado de la institución" href=""
					tooltip-enable="alumno.egresado")

					span(ng-hide="alumno.egresado") No
					span(ng-show="alumno.egresado") Si

			div(style="padding-top: 4px")
				label ¿Activo?
				a.btn.btn-xs(ng-class="{'btn-primary':alumno.is_active, 'btn-danger':!alumno.is_active }"
					ng-click="toggleActive(alumno);"
					uib-tooltip="¿Puede ingresar al sistema?" href=""
					tooltip-enable="alumno.is_active")

					span(ng-hide="alumno.is_active") No
					span(ng-show="alumno.is_active") Si



.modal-footer
	button.btn.btn-yellow(ng-click="cancel()") Cerrar
	button.btn.btn-labeled.btn-primary(ng-click="ok()") Matricular
		i.btn-label.fa.fa-save
