.row

	.form-group.col-lg-3.col-sm-6.col-xs-12
		label(for="alumno-religion") Religión
		input#alumno-religion.form-control(type="text"
			typeahead-append-to-body="true" typeahead-min-length="1"
			uib-typeahead="religion for religion in religiones | filter:$viewValue | limitTo:8"
			typeahead-on-select="religionSelected(alumno, $item)"
			ng-model="alumno.religion"
			ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
			ng-change="guardarValor(alumno, 'religion', alumno.religion)")

	.form-group.col-lg-3.col-sm-6.col-xs-12
		label(for="alumno-email") E-mail
		input#alumno-email.form-control(type="email" ng-model="alumno.email" placeholder="E-mail"
			ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
			ng-change="guardarValor(alumno, 'email', alumno.email)")

	.form-group.col-lg-3.col-sm-6.col-xs-12
		label(for="alumno-facebook") Facebook
		input#alumno-facebook.form-control(type="text" ng-model="alumno.facebook" placeholder="Facebook"
			ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
			ng-change="guardarValor(alumno, 'facebook', alumno.facebook)")


.widget
	.widget-header.bordered-bottom.bordered-info
		span.widget-caption Documento
	.widget-body
		.row
			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Tipo
				ui-select(ng-model="alumno.tipo_doc"  on-select="guardarValor(alumno, 'tipo_doc', alumno.tipo_doc.id)" style="width: 100%;")
					ui-select-match(placeholder="Tipo de documento" allow-clear="true") {{$select.selected.tipo}}{{ ' ('+$select.selected.abrev+')'}}
					ui-select-choices(repeat="tipo_doc in tipos_doc")
						div(ng-bind-html="tipo_doc.tipo | highlight: $select.search")
						small {{ tipo_doc.abrev}}
			.form-group.col-lg-4.col-sm-6.col-xs-12
				label(for="alumno-documento") Número documento:
					span(style="font-weight: 700; padding-left: 15px;") {{ alumno.documento | formatNumberDocumento }}
				input#alumno-documento.form-control(type="text" ng-model="alumno.documento" placeholder="Documento"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'documento', alumno.documento)")

			.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 17px;")
				label Pais
				ui-select(ng-model="alumno.pais_doc" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Pais documento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
					ui-select-choices(repeat="pais in paises | filter: $select.search")
						div(ng-bind-html="pais.pais | highlight: $select.search")
						small {{ pais.departamento | highlight: $select.search}}
			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Departamento
				ui-select(ng-model="alumno.departamento_doc" on-select="departSeleccionado($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Departamento documento" allow-clear="true") {{$select.selected.departamento}}
					ui-select-choices(repeat="departamento in departamentos | filter: $select.search")
						div(ng-bind-html="departamento.departamento | highlight: $select.search")

			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Ciudad
				ui-select(ng-model="alumno.ciudad_doc" on-select="ciudadSeleccionada($item, 'ciudad_doc')" style="width: 100%;")
					ui-select-match(placeholder="Ciudad documento" allow-clear="true") {{$select.selected.ciudad}}
					ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
						div(ng-bind-html="ciudad.ciudad | highlight: $select.search")


.widget(ng-if="::hasRoleOrPerm(['admin', 'secretario'])")
	.widget-header.bordered-bottom.bordered-pink
		span.widget-caption(style="font-weight: bold") Usuario
	.widget-body
		.form-group
			label(for="alumno-username") Nombre de usuario
			.input-group
				input#alumno-username.form-control(type="text"
					typeahead-append-to-body="true" typeahead-min-length="2"
					uib-typeahead="username_check for username_check in cambiaUsernameCheck($viewValue)"
					ng-model="alumno.username" placeholder="Nombre usuario"
					typeahead-loading="loadingUsernames" typeahead-no-results="noResults")
				.input-group-btn
					a.btn.btn-default.shiny(uib-tooltip="Guardar nombre de usuario" tooltip-placement="left" tooltip-append-to-body="true"
						ng-click="guardarValor(alumno, 'username', alumno.username)" ng-disabled="!username_cambiado")
						i.fa.fa-save

			i.fa.fa-refresh(ng-show="loadingUsernames" style="font-size: 7pt")
			div(ng-show="noResults" style="font-size: 7pt")
				i.fa.fa-check
				| Disponible




		.form-group
			a(uib-tooltip="Resetear contraseña" tooltip-placement="right" tooltip-append-to-body="true" class="btn btn-default shiny"
				ng-click="resetPass(alumno)" style="")
				i.fa.fa-user-secret
				| Cambiar contraseña



a(href="" ng-click="mostarMasDetalle()" ng-show="!mostrar_mas" style="font-size: 12pt;") Mostrar Nacimiento, residencia, etc.
a(href="" ng-click="mostarMasDetalle()" ng-show="mostrar_mas" style="font-size: 12pt;") Mostrar menos

.widget(ng-show="mostrar_mas")
	.widget-header.bordered-bottom.bordered-info
		span.widget-caption Nacimiento
	.widget-body
		.row
			.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
				label(for="alumno-fecha-nac") Fecha de nacimiento
				.controls
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha-nac(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true"
							max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha nacimiento"
							ng-change="guardarValor(alumno, 'fecha_nac', alumno.fecha_nac)")

			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Pais
				ui-select(ng-model="alumno.pais_nac" on-select="paisNacSelect($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Pais nacimiento" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
					ui-select-choices(repeat="pais in paises | filter: $select.search")
						div(ng-bind-html="pais.pais | highlight: $select.search")
						small {{ pais.departamento | highlight: $select.search}}
			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Departamento
				ui-select(ng-model="alumno.departamento_nac" on-select="departNacSelect($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Departamento nacimiento" allow-clear="true") {{$select.selected.departamento}}
					ui-select-choices(repeat="departamento in departamentosNac  | filter: $select.search")
						div(ng-bind-html="departamento.departamento | highlight: $select.search")

			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Ciudad
				ui-select(ng-model="alumno.ciudad_nac" on-select="ciudadSeleccionada($item, 'ciudad_nac')" style="width: 100%;")
					ui-select-match(placeholder="Ciudad nacimiento" allow-clear="true") {{$select.selected.ciudad}}
					ui-select-choices(repeat="ciudad in ciudadesNac | filter: $select.search")
						div(ng-bind-html="ciudad.ciudad | highlight: $select.search")


.widget(ng-show="mostrar_mas")
	.widget-header.bordered-bottom.bordered-info
		span.widget-caption Residencia
	.widget-body
		.row

			.form-group.col-lg-3.col-sm-6.col-xs-12
				label(for="alumno-telefono") Teléfono
				input#alumno-telefono.form-control(type="text" ng-model="alumno.telefono" placeholder="Teléfono"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'telefono', alumno.telefono)")

			.form-group.col-lg-3.col-sm-6.col-xs-12
				label(for="alumno-direccion") Dirección
				input#alumno-direccion.form-control(type="text" ng-model="alumno.direccion" placeholder="Direccion"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'direccion', alumno.direccion)")

			.form-group.col-lg-3.col-sm-6.col-xs-12
				label(for="alumno-barrio") Barrio
				input#alumno-barrio.form-control(type="text" ng-model="alumno.barrio" placeholder="Barrio"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'barrio', alumno.barrio)")

			.form-group.col-lg-3.col-sm-4.col-xs-12
				label(for="alumno-estrato") Estrato
				input#alumno-estrato.form-control(type="number" ng-model="alumno.estrato" min="0" max="10"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'estrato', alumno.estrato)")


			.form-group.col-lg-3.col-sm-3.col-xs-12(style="margin-top: 20px;")
				label Es urbano
				label
					input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.is_urbana" ng-true-value="1" ng-false-value="0" ng-change="toggleIsUrbana(alumno, 'is_urbana')")
					span.text.si-no

			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Pais
				ui-select(ng-model="alumno.pais_resid" on-select="paisResidSelecionado($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Pais residencia" allow-clear="true") {{$select.selected.pais}} ({{$select.selected.abrev}})
					ui-select-choices(repeat="pais in paises | filter: $select.search")
						div(ng-bind-html="pais.pais | highlight: $select.search")
						small {{ pais.departamento | highlight: $select.search}}
			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Departamento
				ui-select(ng-model="alumno.departamento_resid" on-select="departResidSeleccionado($item, $model)" style="width: 100%;")
					ui-select-match(placeholder="Departamento residencia" allow-clear="true") {{$select.selected.departamento}}
					ui-select-choices(repeat="departamento in departamentosResid | filter: $select.search")
						div(ng-bind-html="departamento.departamento | highlight: $select.search")

			.form-group.col-lg-4.col-sm-6.col-xs-12
				label Ciudad
				ui-select(ng-model="alumno.ciudad_resid" on-select="ciudadSeleccionada($item, 'ciudad_resid')" style="width: 100%;")
					ui-select-match(placeholder="Ciudad residencia" allow-clear="true") {{$select.selected.ciudad}}
					ui-select-choices(repeat="ciudad in ciudadesResid | filter: $select.search")
						div(ng-bind-html="ciudad.ciudad | highlight: $select.search")

br
br
