.widget
	.widget-body
		.row
			.col-sm-8.col-xs-12()
				img(style="width: 200px" ng-src="{{perfilPath + alumno.foto_nombre}}" uib-tooltip="Foto oficial")

				img(style="width: 200px" ng-src="{{perfilPath + alumno.imagen_nombre}}" uib-tooltip="Imagen de usuario (no importante)")

			.col-md-4.col-sm-4.col-xs-12(style="text-align: center" ng-show="alumno.grupo_nombre")
				button.btn.btn-primary.shiny(style="font-size: 20pt; font-weight: bold;" type="button"
					ng-click="cambiarGrupo()" uib-tooltip="Cambiar grupo")

					| {{ alumno.grupo_nombre}}

				.etiqueta-alumno(ng-click="cambiarGrupo()" ng-class="{'etiqueta-repitente': alumno.repitente }")
					| Repitente:
					span(ng-show="alumno.repitente")  Si
					span(ng-show="!alumno.repitente")  No

				.etiqueta-alumno(ng-click="cambiarGrupo()" ng-class="{'etiqueta-egresado': alumno.egresado }")
					| Egresado:
					span(ng-show="alumno.egresado")  Si
					span(ng-show="!alumno.egresado")  No

				.etiqueta-alumno(ng-click="cambiarGrupo()" ng-class="{'etiqueta-nuevo': alumno.nuevo }")
					| Nuevo:
					span(ng-show="alumno.nuevo")  Si
					span(ng-show="!alumno.nuevo")  No

		hr
		.row
			.form-group.col-lg-4.col-sm-6
				label(for="alumno-nombres") Nombres
				input.form-control#alumno-nombres(type="text" ng-model="alumno.nombres" placeholder="Nombres" ng-change="guardarValor(alumno, 'nombres', alumno.nombres)" style="font-size: 12pt; color: #444; border: 1px solid #999;")

			.form-group.col-lg-4.col-sm-6
				label(for="alumno-apellidos") Apellidos
				input#alumno-apellidos.form-control(type="text" ng-model="alumno.apellidos" placeholder="Apellidos" ng-change="guardarValor(alumno, 'apellidos', alumno.apellidos)" style="font-size: 12pt; color: #444; border: 1px solid #999;")
			.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 8px;")
				label Sexo
				.row
					.col-lg-6.col-sm-4.col-xs-12
						.radio
							label
								input.inverted(type="radio" name="sexo" value="M" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
								span.text Masculino
					.col-lg-6.col-sm-4.col-xs-12
						.radio
							label
								input.inverted(type="radio" name="sexo" value="F" ng-model="alumno.sexo" ng-change="guardarValor(alumno, 'sexo', alumno.sexo)")
								span.text Femenino

			.form-group.col-lg-3.col-sm-3.col-xs-12(ng-if="!hasRoleOrPerm(['alumno'])")
				label(for="alumno-celular") Celular
				input#alumno-celular.form-control(type="text" ng-model="alumno.celular" placeholder="Celular"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'celular', alumno.celular)")

			.form-group.col-lg-3.col-sm-3.col-xs-12
				.etiqueta-alumno(ng-click="cambiarGrupo()" ng-class="{'etiqueta-repitente': !alumno.is_active }"
					uib-tooltip="Si coloca desactivado, el estudiante no podrá ingresar al sistema con su usuario y contraseña." tooltip-popup-delay="100" style="margin: 20px 0px;")

					span(ng-show="alumno.is_active")  Activo
					span(ng-show="!alumno.is_active")  Desactivado


			.form-group.col-lg-3.col-md-4.col-sm-3.col-xs-12(ng-if="!hasRoleOrPerm(['alumno', 'acudiente'])")
				label(for="alumno-no-matr") Número Matrícula
				input.form-control#alumno-no-matr(type="text" ng-model="alumno.no_matricula" placeholder="Número de matrícula"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					ng-change="guardarValor(alumno, 'no_matricula', alumno.no_matricula)")



			.col-lg-3.col-md-4.col-sm-6.col-xs-12(style="margin-top: 24px;" ng-if="::hasRoleOrPerm(['admin', 'secretario', 'rector'])")
				button.btn.btn-danger.shiny(type="button" ng-click="eliminarAlumno()" ng-hide="alumno.deleted_at" ng-disabled="eliminando" uib-tooltip="Eliminar junto con notas")
					| Eliminiar alumno
				button.btn.btn-success.shiny(type="button" ng-click="restaurarAlumno()" ng-show="alumno.deleted_at" ng-disabled="restaurando")
					| Restaurar alumno

				div(style="color: red; font-weight: bold; font-size: 20pt" ng-show="alumno.deleted_at")
					| Alumno eliminado


		hr
		.row(ng-if="!hasRoleOrPerm(['alumno', 'acudiente'])")
			.form-group.col-lg-3.col-sm-3(style="margin-top: 15px;")
				span(style="border: 1px solid #ccc; border-radius: 4px; padding: 15px;")
					label Paz y salvo
					label
						a.btn(ng-class="{'btn-info':alumno.pazysalvo, 'btn-warning':!alumno.pazysalvo }"
							ng-click="cambiarPazysalvo(alumno);"
							uib-tooltip="NO está al día" href=""
							tooltip-enable="!alumno.pazysalvo" ng-model="alumno.pazysalvo")

							i.fa.fa-times(ng-hide="alumno.pazysalvo")
							i.fa.fa-check(ng-show="alumno.pazysalvo")

							span(ng-hide="alumno.pazysalvo") No
							span(ng-show="alumno.pazysalvo") Si


			.form-group.col-lg-3.col-sm-4.col-xs-12
				label(for="alumno-deuda") Deuda $
				input.form-control#alumno-deuda(type="number" ng-model="alumno.deuda"
					ng-model-options="{ updateOn: 'default blur', debounce: {'default': 800, 'blur': 0} }"
					placeholder="Deuda" min="0" ng-change="guardarValor(alumno, 'deuda', alumno.deuda)")

			.form-group.col-lg-4.col-sm-5.col-xs-12(style="margin-bottom: 12px;")
				label(for="alumno-fecha_pension") Fecha de pensión

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_pension(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_pension" is-open="data.isOpenPens" ng-click="data.isOpenPens = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha pensión"
							ng-change="guardarValor(alumno, 'fecha_pension', alumno.fecha_pension)")






.widget(ng-if="hasRoleOrPerm(['admin'])")
	.widget-header.bordered-bottom.bordered-pink
		span.widget-caption
			a(href ng-click="toggleMostrarPrematricula()" style="text-decoration: underline; font-size: 12pt;")
				| Matrícula {{::USER.year}} y Prematrícula {{::USER.year+1}}
	.widget-body(ng-show="mostrar_prematricula")

		.row(ng-show="alumno.matricula_id")
			.form-group.col-lg-3.col-md-4.col-sm-5(style="padding-right: 0px; margin-bottom: 23px;")
				label(for="alumno-estado" style="font-size: 15pt;")
					| Estado {{::USER.year}}
				span.btn-group(style="padding-left: 2px; padding-top: 4px;")
					//label.btn.btn-default.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'FORM'" ng-click="reMatricularUno(alumno)" uib-tooltip="Formulario") Formul
					//label.btn.btn-default.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'PREM'" ng-click="reMatricularUno(alumno)" uib-tooltip="Prematricular") Prem
					label.btn.btn-primary.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'MATR'" ng-click="reMatricularUno(alumno)" uib-tooltip="Matricular") Matr
					label.btn.btn-primary.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'ASIS'" ng-click="setAsistente(alumno)" uib-tooltip="Establecer como Asistente") Asis
					label.btn.btn-primary.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'RETI'" ng-click="retirar(alumno)" uib-tooltip="Retirar") Reti
					label.btn.btn-primary.btn-prematriculas(ng-model="alumno.estado" uib-btn-radio="'DESE'" ng-click="desertar(alumno)" uib-tooltip="Desertor") Dese

			.form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12(style="margin-bottom: 12px;" ng-if="alumno.estado == 'RETI' || alumno.estado == 'DESE' ")
				label(for="alumno-fecha_retiro") Fecha de retiro

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_retiro" is-open="data.isOpenReti" ng-click="data.isOpenReti = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha retiro"
							ng-change="guardarValor(alumno, 'fecha_retiro', alumno.fecha_retiro)")


			.form-group.col-lg-3.col-md-4.col-sm-4.col-xs-12(style="margin-bottom: 12px;" ng-if="alumno.estado == 'MATR' || alumno.estado == 'ASIS' ")
				label(for="alumno-fecha_matricula") Fecha de matricula

				.controls()
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.active#alumno-fecha_retiro(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.fecha_matricula" is-open="data.isOpenMatr" ng-click="data.isOpenMatr = true"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha matricula"
							ng-change="guardarValor(alumno, 'fecha_matricula', alumno.fecha_matricula)")



		hr(style="border-top: 2px solid #ccc;")

		.row(ng-show="alumno.next_year")

			.form-group.col-lg-3.col-md-3.col-sm-4.col-xs-12()
				label Grupo próximo año
				div
					span(uib-tooltip="Debe seleccionar un grupo" tooltip-placement="right" tooltip-popup-delay="400")
						ui-select(ng-model="dato.grupo_prematr" theme="select2" style="width: 100%;")
							ui-select-match(placeholder="Grupo a prematricular" allow-clear="true") {{$select.selected.nombre}}
							ui-select-choices(repeat="grupo in grupos_siguientes | filter: $select.search")
								div(ng-bind-html="grupo.nombre | highlight: $select.search")

			.form-group.col-sm-8(style="padding-right: 0px;")
				label(for="alumno-estado-next" style="font-size: 15pt; margin-bottom: 23px;")
					| Estado {{ ::USER.year + 1 }}:
				span.btn-group(style="padding-left: 2px; padding-top: 4px;")
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'FORM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Formulario vendido") Formulario
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'PREM'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Prematriculado") Prematriculado
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'ASIS'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Establecer como Asistente") Asist
					label.btn.btn-success.btn-prematriculas(ng-model="alumno.next_year.estado" uib-btn-radio="'MATR'" ng-click="set_estado_next_matricula(alumno)" uib-tooltip="Matricular") Matr

			span(ng-show="alumno.next_year.year")
				.form-group.col-lg-2.col-sm-3.col-xs-12(uib-tooltip="¿Es nuevo en {{ alumno.next_year.year }} en la institución?" tooltip-popup-delay="400" style="margin-top: 20px;")
					label Es nuevo
					label
						input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.next_year.nuevo" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'nuevo')")
						span.text.si-no

				.form-group.col-lg-2.col-sm-3.col-xs-12(uib-tooltip="¿Va a repetir el año en {{ alumno.next_year.year }}?" tooltip-popup-delay="400" style="margin-top: 20px;")
					label Es repitente
					label
						input.checkbox-slider.slider-icon.colored-blue(type="checkbox" ng-model="alumno.next_year.repitente" ng-true-value="1" ng-false-value="0" ng-change="toggleNuevoRepite(alumno, 'repitente')")
						span.text.si-no




			.form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-show="alumno.next_year.estado=='PREM'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se prematriculó")
				label(for="alumno-fecha_prematriculado") Fecha prematriculado

				.controls()
					.input-group
						span.input-group-btn
							button.btn.btn-default(type="button" ng-click="openDatePicker(data, 'isOpenPrema')")
								i.fa.fa-calendar
						input.form-control.active#alumno-fecha_prematriculado(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.next_year.prematriculado" is-open="data.isOpenPrema" ng-click="openDatePicker(data, 'isOpenPrema')"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha prematrícula"
							ng-change="guardarValor(alumno, 'prematriculado', alumno.next_year.prematriculado, alumno.next_year.year_id)")


			.form-group.col-lg-4.col-md-4.col-sm-4.col-xs-12(ng-show="alumno.next_year.estado=='MATR'" style="margin-bottom: 12px;" uib-tooltip="Fecha en que se matriculó")
				label(for="alumno-fecha_matriculado-next") Fecha matrícula

				.controls()
					.input-group
						span.input-group-btn
							button.btn.btn-default(type="button" ng-click="openDatePicker(data, 'isOpenMatrNext')")
								i.fa.fa-calendar
						input.form-control.active#alumno-fecha_matriculado-next(type="text" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="alumno.next_year.fecha_matricula" is-open="data.isOpenMatrNext" ng-click="openDatePicker(data, 'isOpenMatrNext')"
							max-date="'2025-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy"
							clear-text="Borrar" placeholder="Fecha matrícula"
							ng-change="guardarValor(alumno, 'fecha_matricula', alumno.next_year.fecha_matricula, alumno.next_year.year_id)")





